@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
	margin: 0px auto;
	font-family: 'Open Sans', sans-serif;
}

.container{
	margin: 0px auto;
	width: 1000px;
	height: auto;
}

header{
	width: 100%;
	height: auto;
	float: left;
}

footer{
	float: left;
	width: 100%;
	height: 50px;

}

.logo_container{
	width: 25%;
	height: auto;
	float: left;
}

#logo{
	width: 100%;
}

.principal_title{
	width: 50%;
	height: auto;
	float: left;
	background: transparent;
}

.text1{
	width: 100%;
	height: auto;
	float: left;
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
	margin-top: 3px;
}
.right_container{
	width: 25%;
	height: auto;
	float: left;
}
.block1{
	width: 100%;
	height: auto;
	float: left;
}
.label_block1{
	width: 75%;
	height: 20px;
	float: right;
	background: #2877b0;
	margin-top: 15px;
	color: white;
	font-weight: bold;
	font-size: 10pt;
	padding: 3%;
}

.input_block1{
	width: 75%;
	height: 20px;
	float: right;
	color: black;
	font-size: 10pt;
	padding: 2.5%;
	border: 1px solid black;
}

.block2{
	width: 100%;
	height: auto;
	float: left;
	background: transparent;
	margin-top: 20px;
}
.label_block2{
	width: 100%;
	padding: 10px 0px 10px 10px;
	display: block;
}

.input_block2{
	width: 100%;
	color: black;
	font-size: 10pt;
	border: 1px solid #ccc;
	padding: 10px 0px 10px 10px;
}

.block3{
	width: 100%;
	height: auto;
	float: left;
	background: transparent;
	margin-top: 20px;
}

.label_block3{
	width: 100%;
	padding: 10px 0px 10px 10px;
	display: block;
}

.input_block3{
	width: 100%;
	color: black;
	font-size: 10pt;
	border: 1px solid #ccc;
	padding: 10px 0px 10px 10px;
}

.label_block4{
	width: 18%;
	height: 22px;
	float: left;
	margin-left: 4%;
	padding-top: 2px;
	padding-left: 2%;
	background: #2877b0;
	color: white;
	font-weight: bold;
	font-size: 10pt;
}

.input_block4{
	width: 27.5%;
	height: 20px;
	float: left;
	color: black;
	font-size: 10pt;
	border: 1px solid black;
}

.block_table{
	width: 100%;
	height: auto;
	float: left;
}

table{
	width: 100%;
	margin-top: 40px;
	border: 2px solid black;
}
.cell_title{
	background: #2877b0;
	color: white;
	font-size: 14pt;
	padding: 10px 10px 10px 10px;
	border: 2px solid black;

}

.cell_content{
	font-size: 12pt;
	padding: 10px 10px 10px 10px;
	border: 2px solid black;
}

.block5{
	width: 60%;
	height: auto;
	float: right;
	background: transparent;
	margin-top: 30px;
}

.label_block5{
	width: 30%;
	height: 22px;
	float: right;
	padding-top: 2px;
	padding-left: 10px;
	background: #2877b0;
	color: white;
	font-weight: bold;
	font-size: 10pt;
}

.input_block5{
	width: 60%;
	height: 20px;
	float: right;
	color: black;
	font-size: 10pt;
	border: 1px solid black;
}

.clearfix{
	clear: both;
}
.text-right{
	text-align: right;
}

/* Cambios Edgar */
.content_label{
	width: 24%;
	background: #2877b0;
	float: left;
	color: white;
	font-weight: bold;
	font-size: 10pt;
}
.content_input{
	width: 75%;
	float: left;
}
.content_divs {
	width: 50%;
	float: left;
}
.content_divs.right{
	float: right;
	margin-top: 3%;
}
.content_divs .content_label {
	width: 48%;
	float: left;
}

.content_divs .content_input {
	width: 50%;
	float: left;
}
.content_divs.right .content_input input {
	padding: 9px 10px 9px 0px;
	font-size: 12pt;
}