<div class="page-title">
    <div class="col-sm-6 text-left">
        <h2><a href="{{url('dashboard')}}"><span class="fa fa-arrow-circle-o-left"></span></a> Menú principal</h2>
    </div>
    <div class="col-sm-6 text-right">
        <a href="{{url('dashboard/client/new')}}" class="btn btn-success btn-lg">Registrar nuevo cliente</a>
    </div>
</div>
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Clientes Inactivos</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-actions generalDT" data-order="5" data-filter="asc">
                            <thead>
                            <tr>
                                <th>Identificador</th>
                                <th>Nombre</th>
                                <th>Apellido Paterno</th>
                                <th>Apellido Materno</th>
                                <th>Factura</th>
                                <th>Fecha registro</th>
                                <th>Opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for values in clients %}
                            <?php $dateC= $values->getDateInscription(); $newDate = date("d-m-Y", strtotime($dateC));?>
                            <tr id="{{values.getClid()}}">
                                <td>{{values.getIdentifier()}}</td>
                                <td>{{values.getName()}}</td>
                                <td>{{values.getLastName()}}</td>
                                <td>{{values.getSecondName()}}</td>
                                <td><?= $values->getJurisdiction()=="NATIONAL"?"Si":"No";?></td>
                                <td>{{newDate}}</td>
                                <td>
                                    <a title="Editar cliente" href="{{url('dashboard/client/edit/')}}{{values.getClid()}}" class="btn btn-success btn-rounded btn-sm"><span class="fa fa-edit btn-options"></span></a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span> Eliminar <strong>Datos</strong> ?</div>
            <div class="mb-content">
                <p>¿Estas seguro de eliminar esta fila?</p>
                <p>Presione "Si" si esta seguro.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>