<div style="min-height:100%;margin:0;padding:0;width:100%;background-color:#ffffff">
    <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#ffffff">
            <tbody><tr>
                <td align="center" valign="top" style="height:100%;margin:0;padding:10px;width:100%;border-top:0">


                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border:0;max-width:600px!important">
                        <tbody>
                        <tr>
                            <td valign="top" style="background-color:#ffffff;border-top:0;border-bottom:0;padding-top:0;padding-bottom:9px"></td>
                        </tr>
                        <tr>
                            <td valign="top" style="background-color:#f24934;border-top:0;border-bottom:0;padding-top:0;padding-bottom:36px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                    <tbody>
                                    <tr>
                                        <td valign="top" style="padding:0px">
                                            <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0;text-align:center">


                                                        <img align="center" alt="" src="<?=$this->url->get('front/src/images/emailMarketing/beauty.jpg')?>" width="600" style="max-width:960px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;min-height:auto;outline:none;text-decoration:none" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 621.5px; top: 639px;"><div id=":1dx" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Descargar el archivo adjunto " data-tooltip-class="a1V" data-tooltip="Descargar"><div class="aSK J-J5-Ji aYr"></div></div></div>


                                                    </td>
                                                </tr>
                                                </tbody></table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                    <tbody>
                                    <tr>
                                        <td valign="top" style="padding-top:9px">



                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%">
                                                <tbody><tr>

                                                    <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#ffffff;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">

                                                        <h1 style="display:block;margin:0;padding:0;color:#ffffff;font-family:Georgia;font-size:28px;font-style:italic;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:center">Nos importa cada detalle de ti</h1>

                                                        <h4 style="display:block;margin:0;padding:0;color:#ffffff;font-family:Courier New;font-size:18px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:normal;text-align:center">Consiente a tu cabello con el mejor tratamiento: BRAZILIAN BLOWOUT&nbsp;<a href="https://www.facebook.com/hashtag/medejoconsentir?source=feed_text&amp;story_id=575583629278063" style="color:#ffffff;font-weight:normal;text-decoration:underline" target="_blank">#MeDejoConsentir&#8236;</a></h4>

                                                    </td>
                                                </tr>
                                                </tbody></table>



                                        </td>
                                    </tr>
                                    </tbody>
                                </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                    <tbody>
                                    <tr>
                                        <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top" align="center">
                                            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;background-color:#ffffff">
                                                <tbody>
                                                <tr>
                                                    <td align="center" valign="middle" style="font-family:Helvetica;font-size:16px;padding:15px">
                                                        <a title="Conócenos" href="https://www.facebook.com/beautyroomimagedesigners/?fref=ts" style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#f24934;display:block" target="_blank">Conócenos</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <img src="https://ci5.googleusercontent.com/proxy/OH1Ot2SyCoirSGsQgUbjXWIeTFrcXQ7DIaKxeoHGze1IhNEMMTClvUz832xWQRttb0MRsnT1hdqKgNcEQsz_fUynUO4wZLXihlnutHofs4xq5vYsOuhDrVJvmbhH45aba5C555Kv6td-lWWS1ugI3ojRatTqH7OCyeUWL0Q=s0-d-e1-ft#https://gallery.mailchimp.com/87ce8f25ff95a7f203c76c0ab/images/8a7030a1-3d71-45ca-aa5d-e244b31efdf5.png" width="100%" height="auto" style="display:block;margin:0;padding:0;border:0;min-height:auto;outline:none;text-decoration:none" class="CToWUd">
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="background-color:#ffffff;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                    <tbody>
                                    <tr>
                                        <td align="center" valign="top" style="padding:9px">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td align="center" style="padding-left:9px;padding-right:9px">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td align="center" valign="top" style="padding-top:9px;padding-right:9px;padding-left:9px">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                                                        <tbody><tr>
                                                                            <td align="center" valign="top">





                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                                                    <tbody><tr>
                                                                                        <td valign="top" style="padding-right:10px;padding-bottom:9px">
                                                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                                                                <tbody><tr>
                                                                                                    <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                                                            <tbody><tr>

                                                                                                                <td align="center" valign="middle" width="24">
                                                                                                                    <a href="http://instagram.com" target="_blank"><img src="https://ci4.googleusercontent.com/proxy/EdTPKl7_iK0bh0_3xZSRLGjKcjNJ5g4_q076LqwLvoTo36PV_pCmSrFbN1Kb_pmyBviArt8q_wluJJ_OfGH9kwMyOTTYzaNQ_eB-1gWbSlqfEcNtAyqwzZbHbq3fSrpCQFbi=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/light-instagram-48.png" style="display:block;border:0;min-height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                                                </td>


                                                                                                            </tr>
                                                                                                            </tbody></table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                </tbody></table>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody></table>






                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                                                    <tbody><tr>
                                                                                        <td valign="top" style="padding-right:10px;padding-bottom:9px">
                                                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                                                                <tbody><tr>
                                                                                                    <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                                                            <tbody><tr>

                                                                                                                <td align="center" valign="middle" width="24">
                                                                                                                    <a href="https://www.facebook.com/beautyroomimagedesigners/?fref=ts" target="_blank"><img src="https://ci4.googleusercontent.com/proxy/FTY_Y2GcQoBc9F9WjcJfZbTXjZ6YKb6f1VzVtrXgp4va6YixuqJM-ldbD1Wcw_0T6xCaIPHkcoY9j6I47pYE-u-7vNGo_vvq70OOhdJmNYrP16uHAdgqPZOYkU1R5mL3ZbQ=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/light-facebook-48.png" style="display:block;border:0;min-height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                                                </td>


                                                                                                            </tr>
                                                                                                            </tbody></table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                </tbody></table>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody></table>






                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                                                    <tbody><tr>
                                                                                        <td valign="top" style="padding-right:0;padding-bottom:9px">
                                                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                                                                <tbody><tr>
                                                                                                    <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                                                            <tbody><tr>

                                                                                                                <td align="center" valign="middle" width="24">
                                                                                                                    <a href="http://www.c-developers.com/" target="_blank"><img src="https://ci3.googleusercontent.com/proxy/0AKzxdi-dUflhfA8a2dkVPr15h5wRN5PhgVNhs8pW6mNYlLE3iohC1SMa3izgphTtE292zvIvA9U_J4CNfK4NOTywn9BXcS8oJnvm6LwPYS_VDetRz0URJUChVOBZA=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/light-link-48.png" style="display:block;border:0;min-height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                                                </td>


                                                                                                            </tr>
                                                                                                            </tbody></table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                </tbody></table>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody></table>




                                                                            </td>
                                                                        </tr>
                                                                        </tbody></table>
                                                                </td>
                                                            </tr>
                                                            </tbody></table>
                                                    </td>
                                                </tr>
                                                </tbody></table>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                    <tbody>
                                    <tr>
                                        <td valign="top" style="padding-top:9px">



                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%">
                                                <tbody><tr>

                                                    <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center">

                                                        <em>Copyright © 2016 BEAUTY ROOM, Todos los derechos reservados.</em><br>
                                                        <br>
                                                        <strong>Nuestra cuenta de correo es:</strong><br>
                                                        <a href="mailto:administracion@beautyroom.com.mx" target="_blank">administracion@beautyroom.com.<wbr>mx</a><br>
                                                        <br>
                                                        Gracias por su preferencia.
                                                    </td>
                                                </tr>
                                                </tbody></table>



                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                        </tbody></table>


                </td>
            </tr>
            </tbody></table>
    </center><div class="yj6qo"></div><div class="adL">
    </div></div>