<section class="row pageCover" style="background: url('/front/src/images/banners/diseñoeintegridaddepozos.jpg')">
  <div class="container p0">
    <h3 class="fleft">Catálogo de cursos</h3>
    <ol class="breadcrumb">
      <li><a href="/">Inicio</a></li>
      <li class="active">Catálogo de cursos</li>
    </ol>
  </div>
</section>
<section class="row contentRow padding-course">
        <div class="container">
            <div class="row page_packages contentRow">
                <div class="row m0 title_row">
                    <h2 class="mt0">NUESTROS CURSOS</h2>
                    <h5>Estos son los cursos donde te podemos capacitar</h5>
                </div>
              <tabset class="tabs-left resize-table tags-courses">
                <tab heading="{{speciality.name}}" active="tab[$index]" ng-click="getCourse(speciality.cgid)" ng-repeat="speciality in specialities">
                  <div class="col-md-8 col-sm-6 col-xs-4">
                    <h2 class="mt0">{{speciality.name}}</h2>
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Código</th>
                            <th>Cursos / Talleres / Seminarios / Diplomados</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="values in course">
                            <td>{{values.identifier}}</td>
                            <td>{{values.name}}</td>
                            <td><a href="{{values.url}}">Ver curso</a></td>
                          </tr>
                        </tbody>
                      </table>
                   </div>
                </tab>
              </tabset>
            </div>
        </div>
    </section>