<tab heading="GEOCIENCIAS" active="tabs[1].active" ng-click="getCourse(17)">
    <div class="col-md-8 col-sm-6 col-xs-4">
        <h2 class="mt0"><a href="javascript:void(0)">Geociencias</a></h2>
        <table class="table">
            <thead>
            <tr>
                <th>Código</th>
                <th>Cursos / Talleres / Seminarios / Diplomados</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="values in course">
                <td>{{values.identifier}}</td>
                <td>{{values.name}}</td>
                <td><a href="{{values.url}}">Ver curso</a></td>
            </tr>
            <tr>
                <td>GEO-ASFP/001</td>
                <td>Adquisición sísmica con fines petroleros</td>
            </tr>
            <tr>
                <td>GEO-ADPS/002</td>
                <td>Adquisición y procesamiento sísmico</td>
            </tr>
            <tr>
                <td>GEO-AMSD/003</td>
                <td>Ambientes sedimentarios</td>
            </tr>
            <tr>
                <td>GEO-ANCS/004</td>
                <td>Análisis de cuencas sedimentarias</td>
            </tr>
            <tr>
                <td>GEO-ACSP/005</td>
                <td>Análisis de cuencas y su relación con el sistema petrolero</td>
            </tr>
            <tr>
                <td>GEO-ANSP/006</td>
                <td>Análisis de un sistema petrolero</td>
            </tr>
            <tr>
                <td>GEO-AEYC/007</td>
                <td>Análisis estratigrafico de yacimiento clasticos</td>
            </tr>
            <tr>
                <td>GEO-BIOM/008</td>
                <td>Biomarcadores</td>
            </tr>
            <tr>
                <td>GEO-CGAY/009</td>
                <td>Caracterización geológica avanzada de yacimientos</td>
            </tr>
            <tr>
                <td>GEO-CGYC/010</td>
                <td>Caracterización geológica de yacimientos carbonatados</td>
            </tr>
            <tr>
                <td>GEO-CRRF/011</td>
                <td>Correlación crudo-crudo y crudo-roca fuente</td>
            </tr>
            <tr>
                <td>GEO-EADG/012</td>
                <td>Estadística aplicada a datos geológicos</td>
            </tr>
            <tr>
                <td>GEO-ESRR/013</td>
                <td>Estimación de recursos y reservas</td>
            </tr>
            <tr>
                <td>GEO-ESTR/014</td>
                <td>Estratigrafía</td>
            </tr>
            <tr>
                <td>GEO-EVFM/015</td>
                <td>Evaluación de formaciones</td>
            </tr>
            <tr>
                <td>GEO-EVFC/016</td>
                <td>Evaluación de formaciones carbonatadas</td>
            </tr>
            <tr>
                <td>GEO-EVFC/017</td>
                <td>Evaluación de formaciones clásticas</td>
            </tr>
            <tr>
                <td>GEO-FPPO/018</td>
                <td>Fundamentos de Perfilaje de pozos</td>
            </tr>
            <tr>
                <td>GEO-GPNG/019</td>
                <td>Geociencias para no geocientíficos</td>
            </tr>
            <tr>
                <td>GEO-GTCA/020</td>
                <td>Geodesia, topografía y cartografía</td>
            </tr>
            <tr>
                <td>GEO-GEXP/021</td>
                <td>Geología de exploración</td>
            </tr>
            <tr>
                <td>GEO-GYCA/022</td>
                <td>Geología de yacimientos carbonáticos</td>
            </tr>
            <tr>
                <td>GEO-GPET/023</td>
                <td>Geología del petróleo</td>
            </tr>
            <tr>
                <td>GEO-GOPE/024</td>
                <td>Geología operacional</td>
            </tr>
            <!--tr>
              <td>GEO-ASFP/001</td>
              <td>Geología para no geologos</td>
            </tr-->
            <tr>
                <td>GEO-GSED/025</td>
                <td>Geología sedimentaria</td>
            </tr>
            <tr>
                <td>GEO-GGCA/026</td>
                <td>Geología y geoquímica del carbón</td>
            </tr>
            <tr>
                <td>GEO-GHID/027</td>
                <td>Geoquímica de hidrocarburos</td>
            </tr>
            <tr>
                <td>GEO-GPRO/028</td>
                <td>Geoquímica de producción</td>
            </tr>
            <tr>
                <td>GEO-GRFA/029</td>
                <td>Geoquímica de rocas fuente de aceite y gas</td>
            </tr>
            <tr>
                <td>GEO-GPET/030</td>
                <td>Geoquímica del petróleo (Módulo I)</td>
            </tr>
            <tr>
                <td>GEO-GPET/031</td>
                <td>Geoquímica del petróleo (Módulo II)</td>
            </tr>
            <tr>
                <td>GEO-GPPE/032</td>
                <td>Geoquímica del petróleo para exploración</td>
            </tr>
            <tr>
                <td>GEO-GSED/033</td>
                <td>Geoquímica sedimentaria</td>
            </tr>
            <tr>
                <td>GEO-GRES/034</td>
                <td>Geoquímica de reservorios</td>
            </tr>
            <!--tr>
              <td>GEO-ASFP/001</td>
              <td>Interpretación básica de registros de pozos</td>
            </tr>
            <tr>
              <td>GEO-ASFP/001</td>
              <td>Interpretación de registros de pozo como herramienta determinante en la prospección y explotación de los hidrocarburos</td>
            </tr-->
            <tr>
                <td>GEO-INRG/035</td>
                <td>Interpretación de registros geofisicos</td>
            </tr>
            <tr>
                <td>GEO-INSI/036</td>
                <td>Interpretación sísmica 2D</td>
            </tr>
            <tr>
                <td>GEO-INSI/037</td>
                <td>Interpretación sísmica 3D aplicada a yacimientos petroleros</td>
            </tr>
            <tr>
                <td>GEO-INSI/038</td>
                <td>Interpretación  sísmica básica para no geofísicos</td>
            </tr>
            <tr>
                <td>GEO-INSI/039</td>
                <td>Interpretación sísmica</td>
            </tr>
            <tr>
                <td>GEO-INES/040</td>
                <td>Introducción a la estratigrafía</td>
            </tr>
            <tr>
                <td>GEO-METG/041</td>
                <td>Métodos geofísicos</td>
            </tr>
            <tr>
                <td>GEO-MCSE/042</td>
                <td>Modelado de cuencas sedimentarias</td>
            </tr>
            <tr>
                <td>GEO-MGYA/043</td>
                <td>Modelado geológico en 3D de un yacimiento</td>
            </tr>
            <tr>
                <td>GEO-MGSP/044</td>
                <td>Modelado geoquímico de un sistema petrolero</td>
            </tr>
            <tr>
                <td>GEO-MOES/045</td>
                <td>Modelo estático</td>
            </tr>
            <tr>
                <td>GEO-PEAV/046</td>
                <td>Petrofisica avanzada</td>
            </tr>
            <tr>
                <td>GEO-PECA/047</td>
                <td>Petrofisica de carbonatos</td>
            </tr>
            <tr>
                <td>GEO-PESP/048</td>
                <td>Petrofísica de exploración para la determinación del sistema petrolífero</td>
            </tr>
            <tr>
                <td>GEO-PESE/049</td>
                <td>Petrografía sedimentaria</td>
            </tr>
            <tr>
                <td>GEO-PDRC/050</td>
                <td>Petrología y diagénesis de rocas clásticas</td>
            </tr>
            <tr>
                <td>GEO-PCYA/051</td>
                <td>Principio de caracterización de yacimiento</td>
            </tr>
            <tr>
                <td>GEO-PSFP/052</td>
                <td>Procesamiento sísmico con fines petroleros</td>
            </tr>
            <tr>
                <td>GEO-QUIM/053</td>
                <td>Quimioestratigrafía</td>
            </tr>
            <tr>
                <td>GEO-SEAP/054</td>
                <td>Sedimentología aplicada</td>
            </tr>
            <tr>
                <td>GEO-SEAF/055</td>
                <td>Sedimentología de ambientes fluviales</td>
            </tr>
            <tr>
                <td>GEO-SERC/056</td>
                <td>Sedimentología de rocas carbonáticas</td>
            </tr>
            <tr>
                <td>GEO-SEYC/057</td>
                <td>Sedimentología de yacimientos clásticos</td>
            </tr>
            <tr>
                <td>GEO-SPPG/058</td>
                <td>Sísmica petrolera para no geofísicos / introducción a la sísmica petrolera</td>
            </tr>
            <tr>
                <td>GEO-TEMM/059</td>
                <td>Técnicas de mapeo. Mapping</td>
            </tr>



            <tr>
                <td>GEO-FGOF/060</td>
                <td>Fundamentos de geofísica</td>
            </tr>
            <tr>
                <td>GEO-GEOE/061</td>
                <td>Geoestadistica</td>
            </tr>
            <tr>
                <td>GEO-GEOE/062</td>
                <td>Aplicación avanzada de la geología estructural</td>
            </tr>
            </tbody>
        </table>
    </div>
</tab>
<tab heading="PRODUCTIVIDAD DE POZOS" active="tabs[0].active">
    <div class="col-md-8 col-sm-6 col-xs-4">
        <h2 class="mt0">Productividad de Pozos</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Código</th>
                <th>Cursos / Talleres / Seminarios / Diplomados</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>PRO-OPAN/001</td>
                <td>Optimización de producción con análisis nodal</td>
            </tr>
            <!--tr>
              <td>GEO-ASFP/001</td>
              <td>Análisis nodal para la optimización en sistemas de producción de hidrocarburos</td>
            </tr-->
            <tr>
                <td>PRO-DFPP/002</td>
                <td>Daño de formación en pozos petroleros</td>
            </tr>
            <tr>
                <td>PRO-DDPP/003</td>
                <td>Diseño de disparos en pozos petroleros</td>
            </tr>
            <tr>
                <td>PRO-ESPP/004</td>
                <td>Estimulación de pozos petroleros</td>
            </tr>
            <tr>
                <td>PRO-ESAP/005</td>
                <td>Evaluación de los sistemas artificiales de producción (SAP)</td>
            </tr>
            <tr>
                <td>PRO-FLMT/006</td>
                <td>Flujo multifásico en tuberías.</td>
            </tr>
            <tr>
                <td>PRO-FHPP/007</td>
                <td>Fracturamiento hidráulico en pozos petroleros.</td>
            </tr>
            <tr>
                <td>PRO-IPHI/008</td>
                <td>Introducción a la producción de hidrocarburos.</td>
            </tr>
            <tr>
                <td>PRO-OHYP/009</td>
                <td>Oferta de hidrocarburos en yacimientos petrolíferos</td>
            </tr>
            <!--tr>
              <td>GEO-ASFP/001</td>
              <td>Optimización de un sistema de producción con simulación.</td>
            </tr-->
            <tr>
                <td>PRO-PPGN/010</td>
                <td>Pozos productores de gas natural.</td>
            </tr>
            <tr>
                <td>PRO-PRPO/011</td>
                <td>Productividad de pozos</td>
            </tr>
            <!--tr>
              <td>GEO-ASFP/001</td>
              <td>Productividad en pozos productores de hidrocarburos</td>
            </tr-->
            <tr>
                <td>PRO-PRFL/012</td>
                <td>Propiedades de los fluidos (agua / aceite / gas natural)</td>
            </tr>
            <tr>
                <td>PRO-REPO/013</td>
                <td>Reparación de pozos</td>
            </tr>
            <tr>
                <td>PRO-SBCP/014</td>
                <td>Sistema artificial de producción por bombeo de cavidad progresiva (BCP)</td>
            </tr>
            <tr>
                <td>PRO-SBES/015</td>
                <td>Sistema artificial de producción por bombeo electrosumergible (BES)</td>
            </tr>
            <tr>
                <td>PRO-SBME/016</td>
                <td>Sistema artificial de producción por bombeo mecánico (balancín).</td>
            </tr>
            <tr>
                <td>PRO-SIGC/017</td>
                <td>Sistema artificial de producción por inyección de gas continuo.</td>
            </tr>
            <tr>
                <td>PRO-SIGI/018</td>
                <td>Sistema artificial de producción por inyección de gas intermitente convencional y pistón metálico.</td>
            </tr>
            <tr>
                <td>PRO-SAPH/019</td>
                <td>Sistemas artificiales de producción de hidrocarburos.</td>
            </tr>
            </tbody>
        </table>
    </div>
</tab>
<tab heading="INGENIERÍA DE YACIMIENTOS" active="tabs[2].active">
    <div class="col-md-8 col-sm-6 col-xs-4">
        <h2 class="mt0">Ingeniería de Yacimientos</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Código</th>
                <th>Cursos / Talleres / Seminarios / Diplomados</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>YAC-ANPP/001</td>
                <td>Análisis de pruebas de presión</td>
            </tr>
            <tr>
                <td>YAC-APVT/002</td>
                <td>Análisis PVT y ecuaciones de estado para simulación composicional</td>
            </tr>
            <tr>
                <td>YAC-EYCP/003</td>
                <td>Estimulación de yacimientos de crudos pesados</td>
            </tr>
            <tr>
                <td>YAC-EIGP/004</td>
                <td>Estudios integrados / gerencia de proyectos</td>
            </tr>
            <tr>
                <td>YAC-EYPE/005</td>
                <td>Explotación de yacimientos de crudos pesados y extrapesados</td>
            </tr>
            <tr>
                <td>YAC-INYA/006</td>
                <td>Ingeniería de yacimiento</td>
            </tr>
            <tr>
                <td>YAC-IPPN/007</td>
                <td>Ingeniería petrolera para no petroleros</td>
            </tr>
            <tr>
                <td>YAC-MERM/008</td>
                <td>Métodos de recuperación mejorada</td>
            </tr>
            <tr>
                <td>YAC-MERS/009</td>
                <td>Procesos de recuperación secundaria: inyección de agua/gas</td>
            </tr>
            <tr>
                <td>YAC-PTEY/010</td>
                <td>Procesos térmicos de estimulación de yacimientos</td>
            </tr>
            <tr>
                <td>YAC-MODY/011</td>
                <td>Modelaje dinámico de yacimientos</td>
            </tr>
            <tr>
                <td>YAC-REMP/012</td>
                <td>Recuperación mejorada de petróleo</td>
            </tr>
            <tr>
                <td>YAC-SPRA/013</td>
                <td>Simulación de procesos de recuperación adicional (EOR) de yacimientos</td>
            </tr>
            <tr>
                <td>YAC-SINY/014</td>
                <td>Simulación de yacimientos</td>
            </tr>
            <!--tr>
              <td>GEO-ASFP/001</td>
              <td>Simulación numérica de yacimientos</td>
            </tr>
            <tr>
              <td>GEO-ASFP/001</td>
              <td>Termodinamica aplicada para ingenieros petroleros</td>
            </tr-->
            <tr>
                <td>YAC-YACP/015</td>
                <td>Yacimientos de crudos pesados</td>
            </tr>
            <tr>
                <td>YAC-AIYC/016</td>
                <td>Administración integral de yacimientos</td>
            </tr>
            <tr>
                <td>YAC-CPEX/017</td>
                <td>Crudos pesados y extrapesados</td>
            </tr>
            </tbody>
        </table>
    </div>
</tab>
<tab heading="INSTALACIONES DE SUPERFICIE" active="tabs[3].active">
    <div class="col-md-8 col-sm-6 col-xs-4">
        <h2 class="mt0">Instalaciones de Superficie</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Código</th>
                <th>Cursos / Talleres / Seminarios / Diplomados</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>INS-AMTA/001</td>
                <td>Almacenamiento, manejo y tratamiento de aceite en facilidades de superficie</td>
            </tr>
            <tr>
                <td>INS-DEDE/002</td>
                <td>Deshidratación y desalado</td>
            </tr>
            <tr>
                <td>INS-DIIP/003</td>
                <td>Diseño de instalaciones de producción</td>
            </tr>
            <tr>
                <td>INS-DOIS/004</td>
                <td>Diseño y operación de instalaciones de superficie</td>
            </tr>
            <tr>
                <td>INS-DOPR/005</td>
                <td>Diseño y operación de plantas recolectoras de aceite crudo</td>
            </tr>
            <!--tr>
              <td>GEO-ASFP/001</td>
              <td>Fluidos de control 1 y 2 necesario un kit y laboratorio</td>
            </tr-->
            <tr>
                <td>INS-OSTD/006</td>
                <td>Operaciones de sistemas de transporte y distribución de crudos</td>
            </tr>
            <tr>
                <td>INS-TGNG/007</td>
                <td>Transporte de gas natural por gasoducto</td>
            </tr>
            <tr>
                <td>INS-TQAC/008</td>
                <td>Tratamiento químico de aceite</td>
            </tr>
            <tr>
                <td>INS-EBUS/009</td>
                <td>Elaboración de bases de usuario</td>
            </tr>
            <tr>
                <td>INS-STFT/010</td>
                <td>Simulación de transporte de fluidos en tuberias</td>
            </tr>
            <tr>
                <td>INS-DLDD/011</td>
                <td>Diseño de líneas de descargas y ductos para el transporte de líquidos</td>
            </tr>
            </tbody>
        </table>
    </div>
</tab>
<tab heading="OPERACIONES DE CAMPO Y MANTO." active="tabs[4].active">
    <div class="col-md-8 col-sm-6 col-xs-4">
        <h2 class="mt0">Operaciones de Campo y Mantenimiento</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Código</th>
                <th>Cursos / Talleres / Seminarios / Diplomados</th>
            </tr>
            </thead>
            <tbody>
            <!--tr>
              <td>GEO-ASFP/001</td>
              <td>Ahorro de energía e impacto ambiental</td>
            </tr>
            <tr>
              <td>GEO-ASFP/001</td>
              <td>Básico de ahorro de energía</td>
            </tr>
            <tr>
              <td>GEO-ASFP/001</td>
              <td>Conceptos de bombeo de líquidos - operación de bombas alternativas</td>
            </tr>
            <tr>
              <td>GEO-ASFP/001</td>
              <td>Conceptos de calor - operación de calentadores</td>
            </tr>
            <tr>
              <td>GEO-ASFP/001</td>
              <td>Conceptos de separación - operación de separadores</td>
            </tr-->
            <tr>
                <td>OPE-CBLI/001</td>
                <td>Bombeo de líquidos - Operación de bombas alternativas</td>
            </tr>
            <tr>
                <td>OPE-CCOC/002</td>
                <td>Calor - Operación de calentadores</td>
            </tr>
            <tr>
                <td>OPE-CSOS/003</td>
                <td>Separación - Operación de separadores</td>
            </tr>
            <tr>
                <td>OPE-GBBM/004</td>
                <td>El “golpe de bomba” en bombeo mecánico y la contaminación de las napas freáticas</td>
            </tr>
            <tr>
                <td>OPE-MATH/005</td>
                <td>Máquinas térmicas e hidráulicas</td>
            </tr>
            <tr>
                <td>OPE-MAET/006</td>
                <td>Máquinas y equipos térmicos</td>
            </tr>
            <tr>
                <td>OPE-OPIS/007</td>
                <td>Operación de instalaciones de superficie</td>
            </tr>
            <tr>
                <td>OPE-OPCA/008</td>
                <td>Operadores de campo</td>
            </tr>
            <tr>
                <td>OPE-OPPG/009</td>
                <td>Operadores de plantas de gas</td>
            </tr>
            <tr>
                <td>OPE-OPPT/010</td>
                <td>Operadores de plantas de tratamiento de petróleo y agua</td>
            </tr>
            <tr>
                <td>OPE-OPML/011</td>
                <td>Optimización de las mediciones de líquidos</td>
            </tr>
            <tr>
                <td>OPE-PRSH/012</td>
                <td>Prevención de riesgos por sulfuro de hidrogeno</td>
            </tr>
            <!--tr>
              <td>GEO-ASFP/001</td>
              <td>Problemática – funcionamiento y operación – soluciones</td>
            </tr-->
            <tr>
                <td>OPE-SAIN/013</td>
                <td>Seminarios de apoyo a instrumentistas</td>
            </tr>
            <tr>
                <td>OPE-SAMB/014</td>
                <td>Seminarios de apoyo a mecánicos de bombas alternativas</td>
            </tr>
            <tr>
                <td>OPE-SIMA/015</td>
                <td>Seminarios de mejoramiento ambiental</td>
            </tr>

            <tr>
                <td>OPE-TAIP/016</td>
                <td>Termodinamica aplicada para ingenieros petroleros</td>
            </tr>
            <tr>
                <td>OPE-ACPR/017</td>
                <td>Automatización y control de procesos</td>
            </tr>
            </tbody>
        </table>
    </div>
</tab>
<tab heading="DISEÑO E INTEGRIDAD DE POZOS" active="tabs[5].active">
    <div class="col-md-8 col-sm-6 col-xs-4">
        <h2 class="mt0">Diseño e Integridad de Pozos</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Código</th>
                <th>Cursos / Talleres / Seminarios / Diplomados</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>DIP-BARR/001</td>
                <td>Barrenas</td>
            </tr>
            <tr>
                <td>DIP-CAAR/002</td>
                <td>Cabezales y arboles</td>
            </tr>
            <tr>
                <td>DIP-CSCO/003</td>
                <td>Conexiones superficiales de control</td>
            </tr>
            <tr>
                <td>DIP-DIPE/004</td>
                <td>Diseño de perforación</td>
            </tr>
            <!--tr>
              <td>GEO-ASFP/001</td>
              <td>Diseño de sartas de perforación</td>
            </tr-->
            <tr>
                <td>DIP-DSTR/005</td>
                <td>Diseño de sartas de tuberias de revestimiento</td>
            </tr>
            <tr>
                <td>DIP-EPEE/006</td>
                <td>Ejecucción de pozos exploratorios y pozos estratigraficos</td>
            </tr>
            <tr>
                <td>DIP-ESTI/007</td>
                <td>Estimulaciones</td>
            </tr>
            <tr>
                <td>DIP-HIPE/008</td>
                <td>Hidraulica de perforación</td>
            </tr>
            <tr>
                <td>DIP-PEBB/009</td>
                <td>Perforación bajo balance</td>
            </tr>
            <tr>
                <td>DIP-PEDI/010</td>
                <td>Perforación direccional</td>
            </tr>
            <tr>
                <td>DIP-PEAP/011</td>
                <td>Perforación en aguas profundas</td>
            </tr>
            <tr>
                <td>DIP-PEHO/012</td>
                <td>Perforación horizontal</td>
            </tr>
            <tr>
                <td>DIP-PERO/013</td>
                <td>Perforación rotaria</td>
            </tr>
            <tr>
                <td>DIP-PETU/014</td>
                <td>Pesca de tuberias</td>
            </tr>
            <tr>
                <td>DIP-PPWP/015</td>
                <td>Planeación de pozos Well Planning</td>
            </tr>
            <tr>
                <td>DIP-REPO/016</td>
                <td>Reparación de pozos</td>
            </tr>
            <tr>
                <td>DIP-SEPP/017</td>
                <td>Selección del equipo de perforación de un pozo petrolero</td>
            </tr>
            <tr>
                <td>DIP-TEPO/018</td>
                <td>Terminación de pozos</td>
            </tr>
            <tr>
                <td>DIP-TERP/019</td>
                <td>Terminación y reparación de pozos</td>
            </tr>
            </tbody>
        </table>
    </div>
</tab>
<tab heading="GERENCIA Y ADMÓN DE PROYECTOS" active="tabs[6].active">
    <div class="col-md-8 col-sm-6 col-xs-4">
        <h2 class="mt0">Gerencia y Administración de Proyectos</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Código</th>
                <th>Cursos / Talleres / Seminarios / Diplomados</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>GAP-APMP/001</td>
                <td>Administración de proyectos con MS Project 2010</td>
            </tr>
            <tr>
                <td>GAP-AECP/002</td>
                <td>Análisis económico de proyectos</td>
            </tr>
            <tr>
                <td>GAP-ARIP/003</td>
                <td>Análisis probabilístico de riesgo e incertidumbre en proyectos de inversión para E&P</td>
            </tr>
            <tr>
                <td>GAP-GGPM/004</td>
                <td>Gestión gerencial de proyectos con MindManager</td>
            </tr>
            <tr>
                <td>GAP-MFEL/005</td>
                <td>Metodología FEL (Front End Loading)</td>
            </tr>
            <tr>
                <td>GAP-PEEP/006</td>
                <td>Planeación estratégica de empresas petroleras</td>
            </tr>



            <tr>
                <td>GAP-ELPI/007</td>
                <td>Elaboración de proyectos de ingeniería</td>
            </tr>
            <tr>
                <td>GAP-FLPR/008</td>
                <td>Formación de lideres de proyectos</td>
            </tr>
            <tr>
                <td>GAP-GEPR/009</td>
                <td>Gerencia del proyecto</td>
            </tr>
            </tbody>
        </table>
    </div>
</tab>
<tab heading="DES. HABIL. Y ORG" active="tabs[7].active">
    <div class="col-md-8 col-sm-6 col-xs-4">
        <h2 class="mt0">Desarrollo Habilitante y Organizacional</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Código</th>
                <th>Cursos / Talleres / Seminarios / Diplomados</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>DHG-EETF/001</td>
                <td>¡Enfócate en tus fortalezas!</td>
            </tr>
            <tr>
                <td>DHG-AIDE/002</td>
                <td>Administración integral del desempeño</td>
            </tr>
            <!--tr>
              <td>GEO-ASFP/001</td>
              <td>Al infinito y más allá. Coaching creativo</td>
            </tr>
            <tr>
              <td>GEO-ASFP/001</td>
              <td>Análisis financiero</td>
            </tr>
            <tr>
              <td>GEO-ASFP/001</td>
              <td>Análisis global de los países emergentes</td>
            </tr>
            <tr>
              <td>GEO-ASFP/001</td>
              <td>Aprovechando nuestras diferencias para crecer</td>
            </tr>
            <tr>
              <td>GEO-ASFP/001</td>
              <td>Ciencia Política y Política Mexicana</td>
            </tr>
            <tr-->
            <td>DHG-COVI/003</td>
            <td>Coaching de vida</td>
            </tr>
            <tr>
                <td>DHG-COAS/004</td>
                <td>Comunicación asertiva</td>
            </tr>
            <tr>
                <td>DHG-COOR/005</td>
                <td>Comunicación organizacional</td>
            </tr>
            <tr>
                <td>DHG-CEGE/006</td>
                <td>Creación de empresas y gestión empresarial</td>
            </tr>
            <tr>
                <td>DHG-DEAU/007</td>
                <td>Desarrollo de la autoestima</td>
            </tr>
            <tr>
                <td>DHG-DECR/008</td>
                <td>Desarrollo de la creatividad </td>
            </tr>
            <tr>
                <td>DHG-DESE/009</td>
                <td>Desarrollo del ser</td>
            </tr>
            <tr>
                <td>DHG-DEPE/010</td>
                <td>Desarrollo personal</td>
            </tr>
            <tr>
                <td>DHG-DCLA/011</td>
                <td>Diagnóstico de competencias laborales</td>
            </tr>
            <tr>
                <td>DHG-DIEM/012</td>
                <td>Dirección de empresas</td>
            </tr>
            <tr>
                <td>DHG-ACAC/013</td>
                <td>El auto-conocimiento. Auto-coaching</td>
            </tr>
            <tr>
                <td>DHG-CAIG/014</td>
                <td>El cambio y la integración grupal</td>
            </tr>
            <tr>
                <td>DHG-LHVE/015</td>
                <td>El lado humano de las ventas</td>
            </tr>
            <tr>
                <td>DHG-LHSE/016</td>
                <td>El lado humano del servicio</td>
            </tr>
            <tr>
                <td>DHG-ESNE/017</td>
                <td>Estrategias de negociación</td>
            </tr>
            <!--tr>
              <td>GEO-ASFP/001</td>
              <td>Finanzas</td>
            </tr-->
            <tr>
                <td>DHG-FHCL/018</td>
                <td>Formación de habilidades de coaching para líderes</td>
            </tr>
            <tr>
                <td>DHG-FIAA/019</td>
                <td>Formación de instructores con aprendizaje acelerado</td>
            </tr>
            <tr>
                <td>DHG-GRHC/020</td>
                <td>Gestión de RH por competencias laborales</td>
            </tr>
            <tr>
                <td>DHG-SECA/021</td>
                <td>Hey, ¿y dónde está mi queso? Sensibilización al cambio</td>
            </tr>
            <tr>
                <td>DHG-INEQ/022</td>
                <td>Integración de equipos</td>
            </tr>
            <!--tr>
              <td>GEO-ASFP/001</td>
              <td>Integración de equipos de trabajo</td>
            </tr-->
            <tr>
                <td>DHG-INEM/023</td>
                <td>Inteligencia emocional</td>
            </tr>
            <!--tr>
              <td>GEO-ASFP/001</td>
              <td>Inversiones en Bolsa</td>
            </tr>
            <tr>
              <td>GEO-ASFP/001</td>
              <td>La industria Petrolera Mexicana</td>
            </tr-->
            <tr>
                <td>DHG-LIDE/024</td>
                <td>Liderazgo</td>
            </tr>
            <tr>
                <td>DHG-LIEI/025</td>
                <td>Liderazgo emocionalmente inteligente</td>
            </tr>
            <tr>
                <td>DHG-MACO/026</td>
                <td>Manejo de conflictos</td>
            </tr>
            <!--tr>
              <td>GEO-ASFP/001</td>
              <td>México al 2030</td>
            </tr>
            <tr>
              <td>GEO-ASFP/001</td>
              <td>Planeación estratégica</td>
            </tr-->
            <tr>
                <td>DHG-REPE/027</td>
                <td>Reingeniera personal</td>
            </tr>
            <!--tr>
              <td>GEO-ASFP/001</td>
              <td>Sistemas económicos</td>
            </tr-->
            <tr>
                <td>DHG-DIGR/028</td>
                <td>Dinámicas grupales</td>
            </tr>
            <tr>
                <td>DHG-EVDE/029</td>
                <td>Evaluación de desempeño 360º</td>
            </tr>
            <tr>
                <td>DHG-IETB/030</td>
                <td>Integración de equipos “team building”</td>
            </tr>
            <tr>
                <td>DHG-TFCA/031</td>
                <td>Taller Fish “un vivencia que cambia actitudes y organizaciones”</td>
            </tr>
            <tr>
                <td>DHG-TREQ/032</td>
                <td>Trabajo en equipo</td>
            </tr>
            </tbody>
        </table>
    </div>
</tab>
<tab heading="SEGURIDAD Y SALUD OCUPACIONAL" active="tabs[8].active">
    <div class="col-md-8 col-sm-6 col-xs-4">
        <h2 class="mt0">Seguridad y Salud Ocupacional</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Código</th>
                <th>Cursos / Talleres / Seminarios / Diplomados</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>SSO-RIPA/001</td>
                <td>Rig pass</td>
            </tr>
            <tr>
                <td>SSO-MALD/002</td>
                <td>Manejo a la defensiva</td>
            </tr>
            <tr>
                <td>SSO-ACHS/003</td>
                <td>Acido sulfhidrico H2S</td>
            </tr>
            <tr>
                <td>SSO-VEGA/004</td>
                <td>Verificador de gas</td>
            </tr>
            <tr>
                <td>SSO-ESCO/005</td>
                <td>Espacios confinandos</td>
            </tr>
            <tr>
                <td>SSO-ERAU/006</td>
                <td>Equipos de respiración autonomo</td>
            </tr>

            <tr>
                <td>SSO-AGDS/007</td>
                <td>Aapectos generales de seguridad</td>
            </tr>
            <tr>
                <td>SSO-SUEP/008</td>
                <td>Selección y uso de equipo de protección personal (EPP)</td>
            </tr>
            <tr>
                <td>SSO-PRAE/009</td>
                <td>Plan de respuesta a emergencias</td>
            </tr>
            <!--tr>
              <td>GEO-ASFP/001</td>
              <td>Actitudes pro-activas de seguridad en el trabajo</td>
            </tr>
            <tr>
              <td>GEO-ASFP/001</td>
              <td>Análisis de riesgo</td>
            </tr>
            <tr>
              <td>GEO-ASFP/001</td>
              <td>Análisis de riesgo en el trabajo</td>
            </tr-->
            <tr>
                <td>SSO-BPRC/010</td>
                <td>Basico de protección civil</td>
            </tr>
            <tr>
                <td>SSO-BASE/011</td>
                <td>Basicos de seguridad</td>
            </tr>
            <tr>
                <td>SSO-MIRE/012</td>
                <td>Manejo integral de residuos</td>
            </tr>
            <tr>
                <td>SSO-MMPE/013</td>
                <td>Manejo de materiles peligrosos</td>
            </tr>
            <tr>
                <td>SSO-COIN/014</td>
                <td>Contra incendios</td>
            </tr>
            <tr>
                <td>SSO-PCIN/015</td>
                <td>Prevención y combate de incendios</td>
            </tr>
            <tr>
                <td>SSO-MAEX/016</td>
                <td>Manejo de extintores</td>
            </tr>
            <tr>
                <td>SSO-PRAU/017</td>
                <td>Primeros auxilios</td>
            </tr>
            <tr>
                <td>SSO-ATRI/018</td>
                <td>Atlas de riesgo</td>
            </tr>
            <tr>
                <td>SSO-PSMA/019</td>
                <td>Practicas de supervivencia en el mar</td>
            </tr>
            <tr>
                <td>SSO-TAAL/020</td>
                <td>Trabajos en altura</td>
            </tr>
            <tr>
                <td>SSO-ARPR/021</td>
                <td>Analisis de riesgo de proceso</td>
            </tr>
            <tr>
                <td>SSO-ASTR/022</td>
                <td>Analisis de seguridad en el trabajo</td>
            </tr>
            <tr>
                <td>SSO-DIOP/023</td>
                <td>Disciplina operativa</td>
            </tr>
            <tr>
                <td>SSO-SSPA/024</td>
                <td>Anexo SSPA</td>
            </tr>
            <tr>
                <td>SSO-INPE/025</td>
                <td>Inducción a PEMEX</td>
            </tr>
            <tr>
                <td>SSO-BAAM/026</td>
                <td>Basico ambiental</td>
            </tr>
            <tr>
                <td>SSO-SAST/027</td>
                <td>Sistema de administración de salud en el trabajo</td>
            </tr>
            <tr>
                <td>SSO-ISSP/028</td>
                <td>Inducción a la seguridad, salud y protección ambiental</td>
            </tr>
            <tr>
                <td>SSO-ADAM/029</td>
                <td>Administración ambiental</td>
            </tr>
            <tr>
                <td>SSO-INIA/030</td>
                <td>Investigación de incidentes y accidentes</td>
            </tr>
            <tr>
                <td>SSO-INCR/031</td>
                <td>Incidentes y/o accidentes metodología analisis causa raiz</td>
            </tr>
            <tr>
                <td>SSO-SUSE/032</td>
                <td>Supervisión segura</td>
            </tr>
            <tr>
                <td>SSO-RSPR/033</td>
                <td>Revisión de seguridad en prearranque</td>
            </tr>
            <tr>
                <td>SSO-POPS/034</td>
                <td>Procedimientos operativos y prácticas seguras</td>
            </tr>

            <tr>
                <td>SSO-SPTR/035</td>
                <td>Sistema de permisos para trabajadores con riesgos</td>
            </tr>
            <tr>
                <td>SSO-IMAC/036</td>
                <td>Integridad mecanica y aseguramiento de la calidad</td>
            </tr>
            </tbody>
        </table>
    </div>
</tab>
<tab heading="DIPLOMADOS" active="tabs[9].active">
    <div class="col-md-8 col-sm-6 col-xs-4">
        <h2 class="mt0">DIPLOMADOS</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Código</th>
                <th>Cursos / Talleres / Seminarios / Diplomados</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>DIP-IPPN/001</td>
                <td>Ingeniería petrolera para no petroleros</td>
            </tr>
            <tr>
                <td>DIP-PETR/002</td>
                <td>Petrofísica</td>
            </tr>
            <tr>
                <td>DIP-GEOC/003</td>
                <td>Geología para no geocientistas</td>
            </tr>
            <tr>
                <td>DIP-OPEC/004</td>
                <td>Operadores de campo</td>
            </tr>
            <tr>
                <td>DIP-PROD/005</td>
                <td>Productividad de pozos petroleros</td>
            </tr>

            </tbody>
        </table>
    </div>
</tab>