<section class="row pageCover">
    <div class="container p0">
        <h3 class="fleft">{{course.name}}</h3>
    </div>
</section>
<nav class="paginations case_study_detail_pagination">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb" style="text-transform: uppercase">
                <li class="active"><a href="/">Inicio</a></li>
                <li class="active">{{course.name_category}}</li>
                <li class="active">{{course.name}}</li>
            </ol>
        </div>
    </div>
</nav>
<section class="row page_case_study">
    <div class="row m0 trenz_master" id="coursesActives">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="row contentCourses">
                        <h2 ng-if="course.objective!=null" class="trenz_master_title page_title">Objetivos</h2>
                        <div ng-bind-html="course.objective"></div>
                        <br>
                        <h2 ng-if="course.scope" class="trenz_master_title page_title">Alcance</h2>
                        <div ng-bind-html="course.scope"></div>
                        <br>
                        <h2 ng-if="course.directed!=null" class="trenz_master_title page_title">Dirigido a</h2>
                        <div ng-bind-html="course.directed"></div>
                    </div>
                    <div class="row">
                        <br>
                        <div class="col-sm-12">
                            <div class="row contentCourses" >
                                <h2 class="trenz_master_title page_title">Contenido programático:</h2>
                                <div ng-bind-html="course.content"></div>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="row">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Costo</h3>
                            </div>
                            <div class="panel-body">
                                ${{price}} + IVA
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="row ready_to_work">
    <div class="container">
        <div class="row">
            <h2>¿Estas interesado en este curso?</h2>
            <a href="/contactanos" class="borderred_link"><span>Más Información</span></a>
        </div>
    </div>
</section>