/*head layout*/

.profile{
    padding: 30px;
}
.logo-main-iide{
    width: 300px;
    margin-top: 1em;
}
.title-head-iide{
    margin-top: .5em;
    color: #4c1368;
    font-size: 24px;
}
.close-head-iide{
    color: #282b31;
    font-size: 34px;
    margin-top: 2em;
    margin-right: 10px;
}
/*end head layout*/

.banner-desktop {
    margin: 0px 5.5% 20px 2.5% !important;
    width: 100% !important;
}
.banner-aqua {
    background-image: url(/dash/images/ide.png);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}
.banner-aqua{
    background-color: grey;
}
.squareBanner {
    border-radius: 4px;
    float: left;
    padding: 40px 15px 40px 15px;
    text-align: center;
    margin: 0px 1.5% 20px 1.5%;
    background-color: #000;
    color: white;
    height: 185px !important;
}
    .mt-5 {
        margin-top: 1.5rem !important;
    }
    /*Ibedel*/
    .lista1{
        text-align: center;
        position: relative;
    }
    ul li.student .alista1{
        width: 270px;
        height: 200px;
    }
    ul li.student .alista1::after{
        content: "";
        position: absolute;
        top: 200px;
        left: -11px;
        height: 20px;
        width: 100%;
        background: #83a8ec;
        transition: .5s;
        transform: rotate(0deg) skewX(-45deg);
    }
    ul li.student .alista1.aula::after{
            background: #4a454d;
    }
    ul li.student a.aula:before{
            background: #807c84 !important;
    }


    .ilista1{
        font-size: 80px !important;
    }
    .position1{
        position: relative;
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        /*margin-top: .5em;*/
    }
    /*Ibedel*/
    body{
        margin: 0;
        padding: 0;
        background-color: #ccc;
    }
    /*Se cambió*/
    ul{
        position: relative;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    /*Se cambió*/
    ul li{
        list-style: none;
        margin: 0 40px;
    }
    ul li.student .fa, ul li.student .fas{
        font-size: 50px;
        display: block;
        color: #fff;
        line-height: 80px;
        transition: .5s;
        padding-top: 0;
    }
    ul li.student a{
        position: relative;
        display: block;
        width: 190px;
        height: 140px;
        background-color: #fff;
        text-align: center;
        /*transform: perspective(100px) rotate(0deg) skew(25deg) translate(0,0);*/
        transform: perspective(100px) rotate(0deg) skew(0deg) translate(0,0);
        transition: .5s;
        box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
    }
    ul li.student a::before{
        content: "";
        position: absolute;
        top: 10px;
        left: -20px;
        height: 100%;
        width: 20px;
        background: #b1b1b1;
        transition: .5s;
        transform: rotate(0deg) skewY(-45deg);
    }
    ul li.student a::after{
        content: "";
        position: absolute;
        top: 140px;
        left: -11px;
        height: 20px;
        width: 100%;
        background: #b1b1b1;
        transition: .5s;
        transform: rotate(0deg) skewX(-45deg);
    }
    ul li.student a:hover{
        /*transform: perspective(1000px) rotate(0deg) skew(25deg) translate(20px, -20px);*/
        transform: perspective(1000px) rotate(0deg) skew(0deg) translate(20px, -20px);
        box-shadow: -50px 43px 36px rgba(105, 49, 105, 0.5);
    }
    ul li.lista1.student a:hover{
        /*transform: perspective(1000px) rotate(0deg) skew(25deg) translate(20px, -20px);*/
        transform: perspective(1000px) rotate(0deg) skew(0deg) translate(20px, -20px);
        box-shadow: -50px 43px 36px rgba(101, 98, 101, 0.5);
    }


    ul li.student:hover .fa{
        color: #fff;
    }
    ul li.student a{
        background: #4d2168;
    }
    ul li.student a:before{
        background: #807c84;
    }
    ul li.student a:after{
        background: #4a464e;
    }
    ul li.student:hover:nth-child(1) a{
        background: #737175;
    }

    ul li.student:hover:nth-child(1) a:before{
        background: #7967a4;
    }

    

    

    ul li.student:hover:nth-child(1) a.alista1.aula:after{
        background: #737175;
    }
    ul li.student:hover:nth-child(1) a:after{
        background: #483a69;
    }
    ul li.student:hover:nth-child(2) a{
        background: #55acee;
    }
    ul li.student:hover:nth-child(2) a:before{
        background: #4184b7;
    }
    ul li.student:hover:nth-child(2) a:after{
        background: #4d9fde;
    }
    ul li.student:hover:nth-child(3) a{
        background: #dd4b39;
    }

    ul li.student:hover:nth-child(3) a:before{
        background: #c13929;
    }
    ul li.student:hover:nth-child(3) a:after{
        background: #e83322;
    }

    ul li.student:hover:nth-child(4) a{
        background: #0077B5;
    }

    ul li.student:hover:nth-child(4) a:before{
        background: #036aa0;
    }
    ul li.student:hover:nth-child(4) a:after{
        background: #0d82bf;
    }

    ul li.student:hover:nth-child(5) a{
        background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
    }

    ul li.student:hover:nth-child(5) a:before{
        background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
    }
    ul li.student:hover:nth-child(5) a:after{
        background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
    }
    ul li.student a.red{
        background: #f1808d;
    }
    ul li.student a.red:before{
        background: #f3597a;
    }
    ul li.student a.red:after{
        background: #fd6c9f;
    }
    ul li.student:hover a.red{
        background: #ec3c50;
    }
    ul li.student:hover a.red:before{
        background: #881f36;
    }
    ul li.student:hover a.red:after{
        background: #bb1d54;
    }   
@media (min-width: 1200px) {
    .container {
        width: 67vw !important;
    }
}

div#email-user-layout{
    color: white;
}
li.active.title-header{
    font-size: 22px !important;
    margin: 11px 0;
    line-height: 26px;
}
.parrafo-general{
    text-align: justify;
    font-size: 22px;
    color: black;
    margin: 3% 10%;
    line-height: 25px;
}
.back-title-bar{
    font-size: 21px;
    margin: 10px 0;
}
.title-site-carrousel{
    font-size: 22px;
    color: white;
    padding-top: 2%;
}
.fondo-gris-general{
    background: rgba(85, 86, 97, 0.4);
    padding-top: 5%;
}
.col-md-12.col-sm-12.col-lg-12.col-xs-12.cuadro {
    height: auto;
    min-height: 77vh;
}
.title-calendar{
    font-size: 21px;
    color: black;
}
li.profile-tab-title.active{
    background-color: #483a69;
}
li.profile-tab-title{
    background-color: #483a69b3;
}
.nav-tabs> li.profile-tab-title> a, 
.nav-tabs> li.profile-tab-title.active> a:hover,
.nav-tabs> li.profile-tab-title.active> a:focus,
.nav-tabs> .dropdown.active.open> a:hover{
    background: rgba(245, 245, 245, 0);
    color: white;
    line-height: 11px;
    font-size: 11px;
    font-weight: bold;
}
label.control-label.tab-profile{
    line-height: 10px !important;
}
.nav-tabs> li.active> a{
    background: #fff0;
    color: white;
}
.sin-margen-up-down{
    padding: 3px 10px !important;
}
.has-feedback .form-control{
    padding-right: 7px;
}
.cuadros-clases {
    height: 19vh !important;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .4rem;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a0078e6;
}
.title-module-postgrados{
    font-size: 18px; 
    font-weight: 600; 
    text-align: center; 
    color: black;
}
div.cuadros-clases p{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color:white;
}
.pagos-view{
    margin: 1% 1%;
    line-height: 21px;
}
.btn-pay-student-profile, .btn-pay-recibo{
    border: 1px solid black;
    background: #53266a;
    color: white;
    width: 100%;
    font-size: .8em;
    font-weight: bold;    
    height: 38px;
    font-size: 17px;
}
.table-recibo-student{
    background-color: #58277bb8 !important; 
    color:white !important;
}
.table-recibo-student-all{
    background-color: #56007B !important;
}
.table-recibo-student-registros{
    background-color: #6b408a5e !important;
    color: white !important;
}
.page-content-wrap{
    background-color: #25396880 !important;
    min-height: 77vh;
}
#certificado{
    background-color: white;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    padding: 3% 2%;
    width: 100% !important;
}
.carrera-progreso{
    font-weight: 900;
    text-transform: capitalize;
}
.table-progress{
    font-size: 11px;
    /*border: 1px black solid;*/
}
.class-text-certificate{
    font-size: 16px;
    color: black;
}
td.class-text-certificate{
    font-size: 13px;
    color: black;
}
.name-student-certificate{
    color: black;
    text-transform: capitalize; 
    padding-top: 5%; 
    padding-bottom: 5%;
}
/*** Clase ****/
.carrera-clase-titulo{
    font-size: 26px;
    color: white;
    padding-top: 3%;
    font-weight: bold;
}
.icono-clase-play{
    font-size: 70px;
    color: white;
    padding-top: 1%;
}
.nombre-clase-vista{
    font-size: 26px;
    color: white;
    padding-top: 8%;
}

/*** color blanco ***/
.c-white{
    color: white !important;
}
/*** color negro ***/
.c-black{
    color: black !important;
}

.help-campus-gif{
    width: 200px;
    position: absolute;
    top: 12%;
    right: 0;
}
/*********** Estilos de la vista clase ***************/
.div-info-confe-next{
    text-align: center; 
    height: 100%;
    position: relative; 
    background-image: url(/dash/images/aulavirtual/Banner-general.jpg);
    background-size: 100% 100%;
    background-position: center;
}
.div-last-confe{
    margin-top: 2vh;
}
a.btn.btn-info.btn-xs.direfido {
    width: 34%;
    height: 32px;
} 
.title-last-confe{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.2s linear 0s;
    padding-top: 30px;
    text-align: center;
}
.banner-aqua {
    background-image: url(/dash/images/ide.png);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}
.squareBanner {
    border-radius: 4px;
    float: left;
    padding: 40px 15px 40px 15px;
    text-align: center;
    margin: 0px 1.5% 20px 1.5%;
    background-color: #000;
    color: white;
    height: 185px !important;
}
/** Comentarios en circulo **/
.timeline {
    position: relative;
    padding:4px 0 0 0;
    margin-top:22px;
    list-style: none;
}
.timeline>li:nth-child(even) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    right:-100px;
}
.timeline>li:nth-child(odd) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    left:-40px;
}
.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}
.timeline>li:after {
    clear: both;
    min-height: 170px;
}
.timeline > li .timeline-panel {
  position: relative;
  float: left;
  width: 41%;
  padding: 0 20px 20px 14%;
  text-align: right;
}
.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 50%;
    border: 7px solid #3b5998;
    border-radius: 100%;
    background-color: #3b5998;
    box-shadow: 0 0 5px #4582ec;
    width: 200px;
    height: 200px;
    margin-left: -100px;
}
.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}
.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 14% 20px 20px;
    text-align: left;
}
.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.timeline>li:last-child {
    margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top:22px;
    margin-bottom: 4px;
    padding:0;
    color: #b3b3b3;
}
.timeline .timeline-heading h4.subheading {
  margin:0;
  padding:0;
    text-transform: none;
    font-size:18px;
    color:#333333;
}
.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
    color:#808080;
}
/*Style for even div.line*/
.timeline>li:nth-child(odd) .line:before {
    content: "";
    position: absolute;
    top: 138px;
    bottom: 0;
    left: 690px;
    width: 4px;
    height:279px;
    background-color: #3b5998;
    -ms-transform: rotate(-31deg); /* IE 9 */
    -webkit-transform: rotate(-31deg); /* Safari */
    transform: rotate(-31deg);
    box-shadow: 0 0 5px #4582ec;
}
/*Style for odd div.line*/
.timeline>li:nth-child(even) .line:before  {
    content: "";
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 450px;
    width: 4px;
    height:340px;
    background-color: #3b5998;
    -ms-transform: rotate(44deg); /* IE 9 */
    -webkit-transform: rotate(44deg); /* Safari */
    transform: rotate(44deg);
    box-shadow: 0 0 5px #4582ec;
}
/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 690px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 76%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}
/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 520px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
    .table> tbody> tr> td{
        padding: 10px 10px;
    }
    .nombre-clase-vista{
        font-size: 19px;
        padding-top: 8%;
        padding-left: 20%;
        padding-right: 20%;
        line-height: 18px;
    }
    .back-title-bar {
        font-size: 15px;
        margin: 5px 0;
        line-height: 10px;
    }
    .carrera-clase-titulo{
        font-size: 25px;
        line-height: 22px;
    }
    a.button-intro{
        z-index: 9999999 !important;
        height: 120px;
        position: absolute;
    }
    .timeline > li:nth-child(even) {
        margin-bottom: 0px;
        min-height: 0px;
        right: 0px;
    }
    .timeline > li:nth-child(odd) {
        margin-bottom: 0px;
        min-height: 0px;
        left: 0px;
    }
    .timeline>li .timeline-image {
        position: static;
        width: 150px;
        height: 150px;
        margin-bottom:0px;
    }
    .timeline>li:nth-child(even) .timeline-image {
        left: 0;
        margin-left: 0;
    }
    .timeline>li:nth-child(odd) .timeline-image {
        float:right;
        left: 0px;
        margin-left:0;
    }
    .timeline > li:nth-child(even) .timeline-panel {
        width: 100%;
        padding: 0 0 20px 14px;
    }
    .timeline > li:nth-child(odd) .timeline-panel {
        width: 100%;
        padding: 0 14px 20px 0px;
    }
    .timeline > li .line {
        display: none;
    }
    .breadcrumb> li.active.title-header:before{
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
    }
    .profile{
        padding: 2px;
        padding-top: 20px;
    }
    .logo-main-iide{
        width: 90%;
    }
    .title-head-iide{
        font-size: 15px;
    }
    .close-head-iide{
        color: #282b31;
        font-size: 31px;
        margin-top: 1.2em;
        margin-right: 3px;
    }
    li.active.title-header{
        line-height: 11px;
        font-size: 14px !important;
    }
    .breadcrumb{
        padding: 0px;
        padding-top: 11px;
        height: 70px;
    }
}
table{
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

.panel .panel-body{
    font-size: 16px !important;
}
.tr-red{
    background-color: #f7a5a5 !important;
}
.tr-green{
    background-color: #23b773 !important;
}
.margin-div-score{
    margin: 1% 0;
}
td.student-center{
    padding: 0px 2px !important;
    vertical-align: middle !important;
    text-align: center;
}
