.drag-drop{
    background-color: #f5e13a;
}
.dz-default.dz-message {
    width: 100% !important;
    height: 100% !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    top: 11% !important;
    left: 0 !important;
    text-align: center !important;
}
.btn-options{
    text-align: center;
    display: block !important;
    margin-right: 0px !important;
    padding: 5px !important;
    font-size: 16px !important;
}
#profile-instructor{
    background-color: #8C8475;
    margin-top: -1%;
    text-align: center;
}
#profile-instructor img{
    margin: 2% 0;
}
.modal-backdrop{
    z-index: -1!important;
}
.page-container .page-content{
    /*position: absolute !important;*/
    background-image:url("../images/bg6.jpg")!important;
    background-repeat: repeat!important;
    background-size: 100%!important;
}
.fa-power-off:hover{
        color:red!important;
    }
.pointer{
    cursor: pointer;
}
.elements_payday{
    padding: 0px !important;
}
#parent_payday{
    padding: 0px !important;
}
.editService{
    cursor: pointer;
}
div#other_products .mb-container {
    background-color: rgba(180,180,180,0.9);
}
.progress-bar-danger.status_danger {
    width: 100% !important;
}
.cursor_pointer{
    cursor: pointer;
}
.color-success{
    color: #31708f;
}
.consumer-product{
    font-size: 16px;
    margin-left: 10px;
    color: #31708f;
}
.text-decoration{
    text-decoration: line-through;
}
tr#received >td {
    background-color: #57395d;
    color: #fff;
}
/*Clases de Fer*/
.x-navigation> li.xn-profile{
    border-bottom: 0!important;
}
.sinpadding{
    padding-left: 0!important;
    padding-right: 0!important;
}
.content-topmenu{
    position: relative;
    width: 100%;
    background-color: #25396880;
}
.fix{
    clear: both;
}
.ion-minus{
    padding:0px 10px;
}

.portfolio{
    background-color:transparent;
    padding:60px 0px;
    font-size:13px;
    font-family: 'Raleway', sans-serif;
}

.portfolio .img-rounded {
    width: 100%;
    margin: 15px 0px;
}

.portfolio .img-rounded:hover {
    -webkit-transform: scale(1.20);
    -moz-transform: scale(1.20);
    -ms-transform: scale(1.20);
    -o-transform: scale(1.20);
    transform: scale(1.20);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    opacity:0.7;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}


    .slider {
        width: 100%;
        margin: 0 auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
        width: 100%;
        max-height: 120px !important;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }
    a.inicio-header{
        font-size: 20px !important; 
        color: #610074 !important;
    }
    .title-header{
        font-size: 20px !important; 
        color: #610074 !important;
    }
