
<style>
body{
	margin: 0;
	padding: 0;
	background-color: #ccc;
}
ul.icon{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	display: flex;
}
ul.icon li{
	list-style: none;
	margin: 0 40px;
}
ul.icon li .fa{
	font-size: 40px;
	color: #262626;
	line-height: 80px;
	transition: .5s;
}
ul.icon li a{
	position: relative;
	display: block;
	width: 80px;
	height: 80px;
	background-color: #fff;
	text-align: center;
	transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
	transition: .5s;
	box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
}
ul.icon li a::before{
	content: "";
	position: absolute;
	top: 10px;
	left: -20px;
	height: 100%;
	width: 20px;
	background: #b1b1b1;
	transition: .5s;
	transform: rotate(0deg) skewY(-45deg);
}
ul.icon li a::after{
	content: "";
	position: absolute;
	top: 80px;
	left: -11px;
	height: 20px;
	width: 100%;
	background: #b1b1b1;
	transition: .5s;
	transform: rotate(0deg) skewX(-45deg);
}
ul.icon li a:hover{
	transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
	box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
ul.icon li:hover .fa{
	color: #fff;
}
ul.icon li a:hover{
	transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
	box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
ul.icon li:hover:nth-child(1) a{
	background: #3b5999;
}
ul.icon li:hover:nth-child(1) a:before{
	background: #2e4a86;
}
ul.icon li:hover:nth-child(1) a:after{
	background: #4a69ad;
}
ul.icon li:hover:nth-child(2) a{
	background: #55acee;
}
ul.icon li:hover:nth-child(2) a:before{
	background: #4184b7;
}
ul.icon li:hover:nth-child(2) a:after{
	background: #4d9fde;
}
ul.icon li:hover:nth-child(3) a{
	background: #dd4b39;
}
ul.icon li:hover:nth-child(3) a:before{
	background: #c13929;
}
ul.icon li:hover:nth-child(3) a:after{
	background: #e83322;
}
ul.icon li:hover:nth-child(4) a{
	background: #0077B5;
}
ul.icon li:hover:nth-child(4) a:before{
	background: #036aa0;
}
ul.icon li:hover:nth-child(4) a:after{
	background: #0d82bf;
}
ul.icon li:hover:nth-child(5) a{
	background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}
ul.icon li:hover:nth-child(5) a:before{
	background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}
ul.icon li:hover:nth-child(5) a:after{
	background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}
</style>
<div class="container">
		<div class="col-md-12 mt-3">
			<div class="row">
				<div class="col-md-3"> 
					<ul>
						<li><a href="/dashboard/user/new-user"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<p class="position1">Nuevo Estudiante</p>
						</li>
					</ul>
					
				</div>
				<div class="col-md-6"> 
					<ul>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<p class="position1">Pagos</p>
						</li>
					</ul>
				</div>
				<div class="col-md-3"> 
					<ul>
						<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
							<p class="position1">Perfil</p>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-md-12 mt-3">
			<div class="row">
				<div class="col-md-3 mt-5"> 
					<ul>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<p class="position1">Calendario</p>
						</li>
					</ul>
				</div>
				<div class="col-md-6"> 
					<ul>
						<li class="lista1"><a href="#" class="alista1"><i class="fa fa-twitter ilista1" aria-hidden="true"></i></a>
							<p class="position1">Aula Virtual</p>
						</li>
					</ul>
				</div>
				<div class="col-md-3 mt-5"> 
					<ul>
						<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
							<p class="position1">Biblioteca Digital</p>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-md-12 mt-3">
			<div class="row">
				<div class="col-md-3"> 
					<ul>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<p class="position1">Comunidad</p>
						</li>
					</ul>
				</div>
				<div class="col-md-6"> 
					<ul>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<p class="position1">Califacaciones</p>
						</li>
					</ul>
				</div>
				<div class="col-md-3"> 
					<ul>
						<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
							<p class="position1">Servicios Escolares</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>