<div class="page-title">
    <div class="col-sm-6 text-left">
        <h2><a href="{{url('dashboard')}}"><span class="fa fa-arrow-circle-o-left"></span></a> Menú principal</h2>
    </div>
</div>
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Clase de 01/10/2018</h3>
                </div>



<iframe width="100%" height="621" src="https://www.youtube.com/embed/W4xzLdqjjyA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


            </div>
        </div>
    </div>
</div>