<section class="row pageCover">
    <div class="container p0">
        <h3 class="fleft">Acerca de Capacitación</h3>
        <ol class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li class="active">Acerca de Capacitación</li>
        </ol>
    </div>
</section>

<section class="row">
    <div class="row m0 contentRow offer_service">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>SPECTRUM Capacitación <br class="hidden-xs">ofrece:</h2>
                    <p>Una capacitación de primer nivel, focalizada a sus programas internos considerando las necesidades inmediatas y la vez sus programas individuales y externos.</p>
                    <ul class="nav">
                        <li><img src="/front/src/images/icons/about/01-DETECCION-NECESIDADES.png" alt="">Detección de necesidades de capacitación técnicas y operativas. </li>
                        <li><img src="/front/src/images/icons/about/02-DISEÑO-DE-PROGRAMAS.png" alt="">Diseño de programas de capacitación de acuerdo a las necesidades del Cliente. </li>
                        <li><img src="/front/src/images/icons/about/03-PROGRAMA-DE-CARRERA.png" alt="">Programas de carrera con niveles básico, intermedio y avanzado.</li>
                        <li><img src="/front/src/images/icons/about/04-PROGRAMA-CONDUCTUALES.png" alt="">Programas conductuales – actitudinales; que crean, refuerzan, y/o mejoran la actitud en las relaciones dentro de las funciones-puestos.</li>
                        <li><img src="/front/src/images/icons/about/05-PRECIOS COMPETITIVOS.png" alt="">Estándares de calidad a precios competitivos en el mercado.</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <img src="/front/src/images/banners/slidercapacitacion.jpg" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
    <div class="row m0 contentRow about_company">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="/front/src/images/banners/acercadecapacitacion2.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-sm-6">
                    <h2>Acerca de Capacitación</h2>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" close-others="oneAtATime">
                        <div class="panel panel-default">
                            <accordion close-others="oneAtATime">
                                <accordion-group ng-repeat="group in groups" class="panel panel-default">
                                  <accordion-heading is-open="status.open">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                            <span class="icon"><img src="{{group.icono}}" alt=""></span>
                                                {{group.title}}
                                            <span class="sign">
                                            </span>
                                        </a>
                                    </h4>
                                    </accordion-heading>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            {{group.content}}
                                            <ul>
                                                <li ng-bind="group.content2">
                                                </li>
                                                <li ng-bind="group.content3">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>