<section class="row pageCover" >
    <div class="container p0">
        <h3 class="fleft">CONTÁCTANOS</h3>
        <ol class="breadcrumb">
            <li><a href="/">INICIO</a></li>
            <li class="active">CONTÁCTANOS</li>
        </ol>
    </div>
</section>
<section class="row" >
    <div class="page_contact row m0">
        <div class="row contact_form m0 contentRow">
            <div class="container">
                <div class="row">
                    <div class="row m0 title_row">
                        <h2>SOLICITA INFORMACIÓN DE CURSOS</h2>
                        <h5>Con gusto aclararemos <span>todas tus dudas.</span></h5>
                    </div>
                    <div class="formArea row m0">
                        <form name="contactI" ng-submit="submitForm(contactI.$valid)" method="post" class="row m0" id="contactI" novalidate>
                            <div class="col-sm-6">
                                <div class="row m0" ng-class="{'has-error':contactI.name.$invalid && !contactI.name.$pristine}">
                                    <label>Nombres <span>*</span></label>
                                    <input type="text" class="form-control" name="name" id="name" required ng-model="formData.name">
                                    <p ng-show="contactI.name.$invalid && !contactI.name.$pristine" class="help-block" >Tu nombre es requerido</p>
                                </div>
                                <div class="row m0" ng-class="{'has-error':contactI.phone.$invalid && !contactI.phone.$pristine}">
                                    <label>Teléfono <span>*</span></label>
                                    <input type="text" class="form-control" ng-minlength="10" ng-maxlength="15" name="phone" id="phone" required ng-model="formData.phone">
                                    <p ng-show="contactI.phone.$invalid && !contactI.phone.$pristine" class="help-block">Se require un numero de teléfono valido</p>
                                    <p class="help-block" ng-show="((contactI.phone.$error.minlength || contactI.phone.$error.maxlength) && contactI.phone.$dirty) ">El numero de telefono no tiene los 10 digitos</p>
                                </div>
                                <div class="row m0" ng-class="{'has-error':contactI.studies.$invalid && !contactI.studies.$pristine}">
                                    <label>Nivel de Estudios <span>*</span></label>
                                    <select name="studies" id="studies" class="selectpicker form-control" required ng-model="formData.studies">
                                        <option value="Bachillerato">Bachillerato</option>
                                        <option value="Licenciatura">Licenciatura</option>
                                        <option value="Posgrado">Postgrado</option>
                                        <option value="Maestria">Maestria</option>
                                        <option value="Doctorado">Doctorado</option>
                                    </select>
                                    <p class="help-block" ng-show="contactI.studies.$invalid && !contactI.studies.$pristine"></p>
                                </div>
                                <div class="row m0">
                                    <label>Asunto </label>
                                    <input type="text" class="form-control" name="subject" id="subject" ng-model="formData.subject">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row m0" ng-class="{'has-error':contactI.lastname.$invalid && !contactI.lastname.$pristine}">
                                    <label>Apellidos <span>*</span></label>
                                    <input type="text" class="form-control" name="lastname" id="lastname" required ng-model="formData.lastname">
                                    <p class="help-block" ng-show="contactI.lastname.$invalid && !contactI.lastname.$pristine">Tu apellido paterno es requerido</p>
                                </div>
                                <div class="row m0" ng-class="{'has-error':contactI.email.$invalid && !contactI.email.$pristine}">
                                    <label>Email <span>*</span></label>
                                    <input type="email" class="form-control" name="email" id="email" required ng-model="formData.email">
                                    <p class="help-block" ng-show="contactI.email.$invalid && !contactI.email.$pristine">Tu correo electrónico es requerido</p>
                                </div>
                                <div class="row m0" ng-class="{'has-error':contactI.activity.$invalid && !contactI.activity.$pristine}">
                                    <label>Actividad <span>*</span></label>
                                    <select name="activity" id="activity" class="selectpicker form-control" required ng-model="formData.activity">
                                        <option value="Profesionista">Profesionista</option>
                                        <option value="Estudiante">Estudiante</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                    <p class="help-block" ng-show="contactI.activity.$invalid && !contactI.activity.$pristine">Tu tipo de actividad es necesaria</p>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row m0" ng-class="{'has-error':contactI.message.$invalid && !contactI.message.$pristine}">
                                    <label>Mensaje <span>*</span></label>
                                    <textarea name="message" id="message" class="form-control" required ng-minlength="10" ng-maxlength="1000" ng-model="formData.message"></textarea>
                                    <p class="help-block" ng-show="contactI.message.$invalid && !contactI.message.$pristine">El mensaje es requerido</p>
                                    <p class="help-block" ng-show="contactI.message.$error.minlength ">El mensaje es muy corto</p>
                                    <p class="help-block" ng-show="contactI.message.$error.maxlength ">El mensaje es muy largo</p>
                                </div>
                            </div>
                            <div class="col-sm-8 col-sm-offset-2" collapse="send">
                                <alert type="info" class="text-center">
                                    <h3 style="margin: 0px"><i class="fa fa-spinner fa-pulse"></i><span style="font-size: 14px;"> Enviando el mensaje, espere un momento.</span></h3>
                                </alert>
                            </div>
                            <div class="col-sm-8 col-sm-offset-2" collapse="success">
                                <alert type="success" class="text-center">Su mensaje se ha enviado correctamente.</alert>
                            </div>
                            <div class="col-sm-8 col-sm-offset-2" collapse="error">
                                <alert type="danger" class="text-center">Ha ocurrido un error intente nuevamente o mas tarde.</alert>
                            </div>
                            <div class="col-sm-12 text-center">
                                <input id="submitInput" class="btn btn-success" type="submit" value="Enviar Mensaje" ng-click="resetForm(contactI)" ng-disabled="contactI.$invalid"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!--Contact Form-->
        <div class="row contact_details m0 text-center">
            <div class="col-sm-3 contact_widgets">
                <div class="row icon_row"><img src="/front/src/images/contact/1.png" alt=""></div>
                <h4>Horas de trabajo</h4>
                <p>(Lun a Vie) 8.00 AM a 06.00 PM</p>
            </div>
            <div class="col-sm-3 contact_widgets">
                <div class="row icon_row"><img src="/front/src/images/contact/2.png" alt=""></div>
                <h4>Dirección</h4>
                <p>Edificio Itaca 2000, Prol. Miguel Hidalgo No. 803<br> Col. José Narciso Rovirosa, C.P. 86050 <br>Villahermosa, Tabasco, México</p>
            </div>
            <div class="col-sm-3 contact_widgets">
                <div class="row icon_row"><img src="/front/src/images/contact/3.png" alt=""></div>
                <h4>Detalles de Contacto</h4>
                <p><span>Tel :</span> (+52) 993 3160287 / 993 3161959<br> <span>Email :</span> capacitacion@spectrumstm.com</p>
            </div>
            <div class="col-sm-3 contact_widgets">
                <div class="row icon_row"><img src="/front/src/images/contact/4.png" alt=""></div>
                <h4>Cursos</h4>
                <p>Mira nuestros cursos e inscribete.</p>
                <a href="/cursos-2015" class="borderred_link"><span>Ver ahora!</span></a>
            </div>
        </div>
        <div class="row google_map m0">
            <div id="mapBox">
                <map zoom="{{map.zoom}}" center="{{map.coordinates}}" style=" height: 470px" styles="{{map.style3}}" zoom-control="true" draggable="true" options="{{map.options}}" scale-control="false">
                    <marker position="{{map.marker}}"></marker>
                    <!--info-window id="1" position="{{map.coordinates}}" visible="true">
                        <div ng-non-bindable="" style="text-align: center">
                            SPECTRUM VILLAHERMOSA
                            <br>
                            Prolongación Miguel Hidalgo<br>
                            Villahermosa, Tabasco
                        </div>
                    </info-window-->
                </map>
            </div>
        </div>
    </div>
</section >