<section class="row pageCover">
    <div class="container p0">
        <h3 class="fleft">Imagenes</h3>
        <ol class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li class="active">Imagenes</li>
        </ol>
    </div>
</section>

<section class="row page_case">
    <div class="container">
        <!--div class="row">
            <ul id="filters" class="list-inline">
                <li data-filter="*" class="active">Todos</li>
                <li data-filter=".ecommerce">Productividad</li>
                <li data-filter=".featured">Operaciones de Campo</li>
                <li data-filter=".seo">Proyectos</li>
                <li data-filter=".technology">Desarrollo habilitante y gerencial</li>
                <li data-filter=".yacimientos">Yacimientos</li>
            </ul>
        </div-->


        <div class="row">
            <ul id="filters" class="list-inline">
                <li data-filter="all" class="active">Todos</li>
                <li data-filter=".ecommerce">Productividad</li>
            </ul>
        </div>


        <div class="row test">
            <div class="case ecommerce" id="MixItUpContainer1" ng-repeat="drawing in drawings">
                <div class="row m0">
                    <a href="{{drawing.url}}" class="img_link"><img src="{{drawing.imagen}}" alt="" class="img-responsive"></a>
                    <a href="{{drawing.url}}" class="text_link">Ver más <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <!--div class="case seo">
                <div class="row m0">
                    <a href="case-studies-details.html" class="img_link"><img src="/front/src/images/case/2.jpg" alt="" class="img-responsive"></a>
                    <a href="case-studies-details.html" class="text_link">Ver más <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="case featured">
                <div class="row m0">
                    <a href="case-studies-details.html" class="img_link"><img src="/front/src/images/case/3.jpg" alt="" class="img-responsive"></a>
                    <a href="case-studies-details.html" class="text_link">Ver más <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="case technology">
                <div class="row m0">
                    <a href="case-studies-details.html" class="img_link"><img src="/front/src/images/case/4.jpg" alt="" class="img-responsive"></a>
                    <a href="case-studies-details.html" class="text_link">Ver más <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="case technology">
                <div class="row m0">
                    <a href="case-studies-details.html" class="img_link"><img src="/front/src/images/case/5.jpg" alt="" class="img-responsive"></a>
                    <a href="case-studies-details.html" class="text_link">Ver más <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="case featured">
                <div class="row m0">
                    <a href="case-studies-details.html" class="img_link"><img src="/front/src/images/case/6.jpg" alt="" class="img-responsive"></a>
                    <a href="case-studies-details.html" class="text_link">Ver más <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="case ecommerce">
                <div class="row m0">
                    <a href="case-studies-details.html" class="img_link"><img src="/front/src/images/case/7.jpg" alt="" class="img-responsive"></a>
                    <a href="case-studies-details.html" class="text_link">Ver más <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="case featured ecommerce">
                <div class="row m0">
                    <a href="case-studies-details.html" class="img_link"><img src="/front/src/images/case/8.jpg" alt="" class="img-responsive"></a>
                    <a href="case-studies-details.html" class="text_link">Ver más <i class="fa fa-angle-right"></i></a>
                </div>
            </div-->
        </div>
    </div>
</section>