<section class="row bannercontainer p0" id="sliderHome">
    <carousel interval="myInterval">
        <slide ng-repeat="slide in sliders" active="slide.active">
            <img ng-src="/front/src/images/slider/{{slide.image}}" style="margin:auto;">
            <div class="carousel-caption">
                <div class="tp-caption sft thirdslide start" >
                    <div id="swappers">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="swappers-table">
                                        <div class="helper hidden-xs">
                                            <div class="swappers-content">
                                                <h2>{{slide.title}}</h2>
                                                <h3>{{slide.date}}</h3>
                                                <p>{{slide.description}}</p>
                                            </div>
                                            <a href="{{slide.url}}" class="btn btn-success">Mas información</a>
                                        </div>
                                        <div class="helper visible-xs text-center" id="mobilSlider">
                                            <div class="swappers-content">
                                                <h6><strong>{{slide.title}}</strong><br>
                                                    <strong>{{slide.date}}</strong><br>
                                                </h6>
                                            </div>
                                            <a href="{{slide.url}}" class="btn btn-success">Mas información</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </slide>
    </carousel>
</section>

<section class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="media discover_services">
                <div class="media-left heading_secs col-sm-5 col-md-3">
                    <h2 class="discover_heading">Nuestros Próximos<br> Cursos</h2>
                </div>
                <div class="media-body services_secs col-sm-7 col-md-9">
                    <div class="col-sm-4 service_box" ng-repeat="course in courses">
                        <div class="row service_box_inner">
                            <div class="row preview_box">
                                <img src="/front/src/images/courses/{{course.image}}" alt="">
                                <h6>{{course.name}} <br><br>{{course.date_course}} <br><br> {{course.city}}</h6>
                            </div>
                            <div class="row hover_box">
                                <div class="row m0 inner">
                                    <h6>{{course.name}}</h6>
                                    <div class="about"> {{course.description}}</div>
                                    <a href="{{course.permalink}}" class="read_more">Leer Más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="row">
<div class="row m0 funfacts_ab">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 fact">
                <div class="row">
                    <h3><span style="font-size : 14px;">+ de </span><span count-to="{{count.curses}}"  duration="{{count.duration}}" count-from="{{count.from}}" class="counter"></span></h3>
                    <h5>Cursos técnicos y operativos</h5>
                </div>
            </div> <!--Fact-->
            <div class="col-sm-3 fact">
                <div class="row">
                    <h3> <span style="font-size : 14px;">+ de </span> <span count-to="{{count.clients}}"  duration="{{count.duration}}" count-from="{{count.from}}" class="counter"></span></h3>
                    <h5>clientes satisfechos</h5>
                </div>
            </div> <!--Fact-->
            <div class="col-sm-3 fact">
                <div class="row">
                    <h3> <span count-to="{{count.experience}}"  duration="{{count.duration}}" count-from="{{count.from}}" class="counter"></span></h3>
                    <h5>años de experiencia</h5>
                </div>
            </div> <!--Fact-->
            <div class="col-sm-3 fact">
                <div class="row">
                    <h3> <span style="font-size : 14px;">+ de </span> <span count-to="{{count.instructors}}"  duration="{{count.duration}}" count-from="{{count.from}}" class="counter"></span></h3>
                    <h5>Instructores calificados</h5>
                </div>
            </div> <!--Fact-->
        </div>
    </div>
</div>
<div class="row m0 our_clients">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="row m0">
                    <h2>Nuestras Alianzas</h2>
                    <p>Estas son algunas de nuestras Alianzas.</p>
                </div>
            </div>
            <div class="col-sm-9">
            <div class="row">
                <div class="owl-carousel clients_carousel" carousel-c>
                    <div class="item" ng-repeat="alliance in alliances">
                        <img src="/front/src/images/about/alliance/{{alliance.image}}" alt="">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</section>
<section class="row latest_blogs contentRow">
    <div class="container">
        <div class="row title_row">
            <h2>Últimos Cursos Impartidos</h2>
            <h5>Estos son los últimos 3 cursos impartidos</h5>
        </div>
        <div class="row">
            <div class="col-sm-4 blog latest_blog" ng-repeat="RFcourse in resultfc">
                <div class="row m0">
                    <div class="row m0 image">
                        <a ng-href="/curso/finalizado/{{RFcourse.year}}/{{RFcourse.permalink}}"><img ng-src="/front/src/images/blog/{{RFcourse.image}}" alt="{{RFcourse.name}}"></a>
                    </div>
                    <div class="media">
                        <div class="media-left post_cat">
                            <a ng-href="/curso/finalizado/{{RFcourse.year}}/{{RFcourse.permalink}}"><img ng-src="/front/src/images/icons/blog/{{RFcourse.imageC}}" alt="{{RFcourse.name}}"></a>
                        </div>
                        <div class="media-body">
                            <div class="row m0 post_meta">
                                <div class="row m0 date"><a ng-href="/curso/finalizado/{{RFcourse.year}}/{{RFcourse.permalink}}">{{RFcourse.date}}</a></div>
                                <div class="row m0 author"><a ng-href="/curso/finalizado/{{RFcourse.year}}/{{RFcourse.permalink}}">{{RFcourse.city}}</a></div>
                            </div>
                            <a ng-href="/curso/finalizado/{{RFcourse.year}}/{{RFcourse.permalink}}" class="post_title">
                                <h5>{{RFcourse.name}}</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>