<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Gracias</h1>
            <p>Su pago se ha realizado correctamente. Gracias.</p>
            <span><i>Le hemos enviado la confirmación del pago a su cuenta de correo.</i></span>
        </div>
    </div>
</div>