<div class='container'>
    <div class='row'>
        <div class='col-sm-12'>
            <br><br>
            <h2>Los valores enviados para el pago con PAYPAL ya no estan disponibles.</h2>
            <br><br><br>
        </div>
    </div>
</div>

