<section class="row pageCover">
    <div class="container p0">
        <h3 class="fleft">CONTÁCTANOS</h3>
        <ol class="breadcrumb">
            <li><a href="/">INICIO</a></li>
            <li class="active">CONTÁCTANOS</li>
        </ol>
    </div>
</section>
<section class="row">
    <div class="page_contact row m0">
        <div class="row contact_form m0 contentRow">
            <div class="container">
                <div class="row">
                    <div class="row m0 title_row">
                        <h2>CURSOS IN COMPANY</h2>
                        <h5><span>Solicita información.</span></h5>
                    </div>
                    <div class="formArea row m0">
                        <form ng-controller="DateController" name="contactC" ng-submit="submitFormCompany(contactC.$valid)" method="post" class="row m0" id="contactC" novalidate>
                            <div class="col-sm-6">
                                <div class="row m0" ng-class="{'has-error':contactC.name.$invalid && !contactC.name.$pristine}">
                                    <label>Nombres <span>*</span></label>
                                    <input autofocus type="text" class="form-control" name="name" id="name" required ng-model="companyData.name">
                                    <p ng-show="contactC.name.$invalid && !contactC.name.$pristine" class="help-block" >Tu nombre es requerido</p>
                                </div>
                                <div class="row m0">
                                    <label>Empresa </label>
                                    <input type="text" class="form-control" name="company" id="company" ng-model="companyData.company">
                                </div>
                                <div class="row m0" ng-class="{'has-error':contactC.post.$invalid && !contactC.post.$pristine}">
                                    <label>Cargo <span>*</span></label>
                                    <input type="text" class="form-control" name="post" id="post" required ng-model="companyData.post">
                                    <p ng-show="contactC.post.$invalid && !contactC.post.$pristine" class="help-block">Tu cargo es requerido</p>
                                </div>
                                <div class="row m0" ng-class="{'has-error':contactC.course.$invalid && !contactC.course.$pristine}">
                                    <label>Curso<span>*</span></label>
                                    <select class="selectpicker select2-drop-multi form-control" name="course" id="course" required ng-model="companyData.course">
                                        <option value="">Selecciona un curso</option>
                                        <option value="OPTIMIZACIÓN DE PRODUCCIÓN CON ANÁLISIS NODAL">OPTIMIZACIÓN DE PRODUCCIÓN CON ANÁLISIS NODAL</option>
                                        <option value="INGENIERÍA PETROLERA PARA NO PETROLEROS">INGENIERÍA PETROLERA PARA NO PETROLEROS</option>
                                        <option value="INTERPRETACIÓN DE REGISTROS GEOFÍSICOS">INTERPRETACIÓN DE REGISTROS GEOFÍSICOS</option>
                                        <option value="GEOMECÁNICA APLICADA">GEOMECÁNICA APLICADA</option>
                                        <option value="CARACTERIZACIÓN DINAMICA DE YACIMIENTOS NATURALES FRACTURADOS">CARACTERIZACIÓN DINAMICA DE YACIMIENTOS NATURALES FRACTURADOS</option>
                                        <option value="DIPLOMADO DE PETROFISICA">DIPLOMADO DE PETROFISICA</option>
                                        <option value="GEOESTADÍSTICA">GEOESTADÍSTICA</option>
                                        <option value="YACIMIENTOS NO CONVENCIONALES">YACIMIENTOS NO CONVENCIONALES</option>
                                        <option value="otro">Otro</option>
                                    </select>
                                    <p ng-show="contactC.course.$invalid && !contactC.course.$pristine" class="help-block">El curso es requerido</p>
                                    <div style="width: 100%;" ng-class="{'has-error':contactC.course2.$invalid && !contactC.course2.$pristine}">
                                        <input type="text" ng-required="companyData.course=='otro'" placeholder="Escriba el nombre del curso" class="form-control" autofocus ng-show="companyData.course=='otro'" name="course2" id="course2" ng-model="companyData.course2">
                                        <p ng-show="contactC.course2.$invalid && !contactC.course2.$pristine" class="help-block">El curso es requerido</p>
                                    </div>
                                </div>
                                <div class="row m0" ng-class="{'has-error':contactC.city.$invalid && !contactC.city.$pristine}">
                                    <label>Ciudad de Realización <span>*</span></label>
                                    <input type="text" class="form-control" name="city" id="city" required ng-model="companyData.city">
                                    <p ng-show="contactC.city.$invalid && !contactC.city.$pristine" class="help-block">La Ciudad es requerida</p>
                                </div>
                                <div class="row m0" >
                                    <label>Fecha para el curso </label>
                                    <div class="col-md-12 not-padding">
                                        <p class="input-group">
                                            <input type="date" class="form-control" name="date" datepicker-popup ng-model="companyData.date" is-open="status2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Cerrar" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row m0">
                                    <div class="col-sm-12  p0">
                                        <label>Servicios <span>*</span></label>
                                    </div>
                                    <div class="col-sm-6 p0">
                                        <input ng-model="companyData.sc" type="checkbox" name="sc" value="Sala de Conferencia">&nbsp;Sala de conferencias
                                    </div>
                                    <div class="col-sm-6 p0">
                                        <input ng-model="companyData.a" type="checkbox"  name="a" value="Almuerzos">&nbsp;Almuerzos
                                    </div>
                                    <div class="col-sm-6 p0">
                                        <input ng-model="companyData.cb" type="checkbox"  name="cb" value="Coffee Break">&nbsp;Coffee Break
                                    </div>
                                    <div class="col-sm-6 p0">
                                        <input ng-model="companyData.ea" type="checkbox"  name="ea" value="Equipos Audiovisuales">&nbsp;Equipos Audiovisuales
                                    </div>
                                    <div class="col-sm-6 p0">
                                        <input ng-model="companyData.ei" type="checkbox"  name="ei" value="Estadía del Instructor">&nbsp;Estadía del Instructor
                                    </div>
                                    <div class="col-sm-6 p0">
                                        <input ng-model="companyData.pi" type="checkbox"  name="pi" value="Pasajes del Instructor">&nbsp;Pasajes del Instructor
                                    </div>
                                    <div class="col-sm-6 p0">
                                        <input ng-model="companyData.ts" type="checkbox"  name="ts" value="Traducción Simultánea">&nbsp;Traducción Simultánea
                                    </div>
                                    <div class="col-sm-6 p0">
                                        <input ng-model="companyData.otro"  type="checkbox"  name="otro" value="Otro" ng-click="focusInput=true">&nbsp;Otro
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row m0" ng-class="{'has-error':contactC.lastname.$invalid && !contactC.lastname.$pristine}">
                                    <label>Apellidos <span>*</span></label>
                                    <input type="text" class="form-control" name="lastname" id="lastname" required ng-model="companyData.lastname">
                                    <p class="help-block" ng-show="contactC.lastname.$invalid && !contactC.lastname.$pristine">Tu apellido paterno es requerido</p>
                                </div>
                                <div class="row m0" ng-class="{'has-error':contactI.phone.$invalid && !contactI.phone.$pristine}">
                                    <label>Teléfono <span>*</span></label>
                                    <input type="text" class="form-control" ng-minlength="10" ng-maxlength="15" name="phone" id="phone" required ng-model="companyData.phone">
                                    <p ng-show="contactC.phone.$invalid && !contactC.phone.$pristine" class="help-block">Se require un numero de teléfono valido</p>
                                    <p class="help-block" ng-show="((contactI.phone.$error.minlength || contactC.phone.$error.maxlength) && contactC.phone.$dirty) ">El numero de telefono no tiene los 10 digitos</p>
                                </div>
                                <div class="row m0" ng-class="{'has-error':contactC.email.$invalid && !contactC.email.$pristine}">
                                    <label>Email <span>*</span></label>
                                    <input type="email" class="form-control" name="email" id="email" required ng-model="companyData.email">
                                    <p class="help-block" ng-show="contactC.email.$invalid && !contactC.email.$pristine">Tu correo electrónico es requerido</p>
                                </div>
                                <div class="row m0" ng-class="{'has-error':contactC.level.$invalid && !contactC.level.$pristine}">
                                    <label>Nivel Solicitado<span>*</span></label>
                                    <select class="selectpicker select2-drop-multi form-control" name="level" id="level" required ng-model="companyData.level">
                                        <option value="">Selecciona un nivel</option>
                                        <option value="Básico">Básico</option>
                                        <option value="Intermedio">Intermedio</option>
                                        <option value="Avanzado">Avanzado</option>
                                    </select>
                                    <p ng-show="contactC.level.$invalid && !contactC.level.$pristine" class="help-block">Tu nivel es requerido</p>
                                </div>
                                <div class="row m0" ng-class="{'has-error':contactC.number.$invalid && !contactC.number.$pristine}">
                                    <label>Número de Participantes <span>*</span></label>
                                    <input type="number" class="form-control" ng-minlength="1" ng-maxlength="3" name="number" id="number" required ng-model="companyData.number">
                                    <p ng-show="contactC.number.$invalid && !contactC.number.$pristine" class="help-block">Se require un numero de participante valido</p>
                                    <p class="help-block" ng-show="((contactC.number.$error.minlength || contactC.number.$error.maxlength) && contactC.number.$dirty) ">El numero de participante no es valido</p>
                                </div>
                                <div class="row m0">
                                    <label>Cita para junta con personal de capacitación </label>
                                    <div class="col-md-12 not-padding">
                                        <p class="input-group">
                                            <input type="date" class="form-control" name="date2" datepicker-popup ng-model="companyData.date2" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Cerrar" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row m0" ng-class="{'has-error':contactC.otherValue.$invalid && !contactC.otherValue.$pristine}">
                                    <label ng-class="{'in':companyData.otro}" class="fade">Escriba otros servicios en los que este interesado.<span>*</span></label>
                                    <textarea ng-required="companyData.otro" ng-class="{'in':companyData.otro}" focus-me="focusInput" name="otherValue" id="otherValue" class="form-control fade" ng-minlength="5" ng-maxlength="150" rows="2" ng-model="companyData.otherValue" placeholder="Otros servicios"></textarea>
                                    <p class="help-block" ng-show="contactC.otherValue.$invalid && !contactC.otherValue.$pristine">Este campo es requerido</p>
                                    <p class="help-block" ng-show="contactC.otherValue.$error.minlength ">El texto es muy corto.</p>
                                    <p class="help-block" ng-show="contactC.otherValue.$error.maxlength ">Solo se admiten como máximo 150 caracteres.</p>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row m0" ng-class="{'has-error':contactC.message.$invalid && !contactC.message.$pristine}">
                                    <label>Mensaje <span>*</span></label>
                                    <textarea  name="message" id="message" class="form-control" required ng-minlength="10" ng-maxlength="1000" ng-model="companyData.message"></textarea>
                                    <p class="help-block" ng-show="contactC.message.$invalid && !contactC.message.$pristine">El mensaje es requerido</p>
                                    <p class="help-block" ng-show="contactC.message.$error.minlength ">El comentario es muy corto</p>
                                    <p class="help-block" ng-show="contactC.message.$error.maxlength ">El comentario es muy largo</p>
                                </div>
                            </div>
                            <div class="col-sm-8 col-sm-offset-2" collapse="send">
                                <alert type="info" class="text-center">
                                    <h3 style="margin: 0px"><i class="fa fa-spinner fa-pulse"></i><span style="font-size: 14px;"> Enviando el mensaje, espere un momento.</span></h3>
                                </alert>
                            </div>
                            <div class="col-sm-8 col-sm-offset-2" collapse="success">
                                <alert type="success" class="text-center">Su mensaje se ha enviado correctamente.</alert>
                            </div>
                            <div class="col-sm-8 col-sm-offset-2" collapse="error">
                                <alert type="danger" class="text-center">Ha ocurrido un error intente nuevamente o mas tarde.</alert>
                            </div>
                            <div class="col-sm-12 text-center">
                                <input id="submitInput" class="btn btn-success" type="submit" value="Enviar" ng-disabled="contactC.$invalid" ng-click="resetForm(contactC)" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!--Contact Form-->
    </div>
</section >