<section class="row pageCover">
    <div class="container p0">
        <h3 class="fleft">{{course.name}}</h3>
    </div>
</section>
<nav class="paginations case_study_detail_pagination">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb" style="text-transform: uppercase">
                <li class="active"><a href="/">Inicio</a></li>
                <li class="active">{{course.name_category}}</li>
                <li class="active">{{course.name}}</li>
            </ol>
        </div>
    </div>
</nav>
<section class="row page_case_study">
    <div class="row m0 trenz_master" id="coursesActives">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="row contentCourses">
                        <h2 ng-if="course.objective!=null" class="trenz_master_title page_title">Objetivos</h2>
                        <div ng-bind-html="course.objective"></div>
                        <br>
                        <h2 ng-if="course.scope" class="trenz_master_title page_title">Alcance</h2>
                        <div ng-bind-html="course.scope"></div>
                        <br>
                        <h2 ng-if="course.directed!=null" class="trenz_master_title page_title">Dirigido a</h2>
                        <div ng-bind-html="course.directed"></div>
                    </div>
                    <div class="row">
                        <br>
                        <div class="col-sm-12">
                            <div class="row contentCourses" >
                                <h2 class="trenz_master_title page_title">Contenido programático:</h2>
                                <div ng-bind-html="course.content"></div>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="row">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Duración</h3>
                            </div>
                            <div class="panel-body">
                                {{course.duration}}
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Lugar</h3>
                            </div>
                            <div class="panel-body">
                                {{course.city}} &nbsp; <a ng-click="gotoElement('mapBox')" style="cursor: pointer">Ver mapa</a>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Costo</h3>
                            </div>
                            <div class="panel-body">
                                ${{price}} + IVA
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="row ready_to_work">
    <div class="container">
        <div class="row">
            <h2>¿Estas interesado en este curso?</h2>
            <a href="/contactanos" class="borderred_link"><span>Más Información</span></a>
            <a href="javascript:void(0);" class="borderred_link" ng-click="isRegister = !isRegister"><span>¡Registrate!</span></a>
        </div>
    </div>
</section>
<section class="row" collapse="isRegister" >
    <div class="page_contact row m0">
        <div class="row contact_form m0 contentRow">
            <div class="container">
                <div class="row">
                    <div class="row m0 title_row">
                        <h2>REGISTRO AL CURSO</h2>
                        <h5><span>NOMBRE DEL CURSO.</span></h5>
                    </div>
                    <div class="formArea row m0">
                        <form name="ContactR" ng-submit="submitFormRegister(ContactR.$valid)" method="post" class="row m0" id="ContactR" novalidate>
                            <div class="col-sm-6">
                                <div class="row m0" ng-class="{'has-error':ContactR.name.$invalid && !ContactR.name.$pristine}">
                                    <label>Nombre <span>*</span></label>
                                    <input type="text" class="form-control" name="name" id="name" required ng-model="registerData.name">
                                    <p ng-show="ContactR.name.$invalid && !ContactR.name.$pristine" class="help-block" >Tu nombre es requerido</p>
                                </div>
                                <div class="row m0" ng-class="{'has-error':ContactR.second_name.$invalid && !ContactR.second_name.$pristine}">
                                    <label>Apellido Materno <span>*</span></label>
                                    <input type="text" class="form-control" name="second_name" id="second_name" required ng-model="registerData.second_name">
                                    <p ng-show="ContactR.second_name.$invalid && !ContactR.second_name.$pristine" class="help-block">Tu apellido materno es requerido</p>
                                </div>
                                <div class="row m0" ng-class="{'has-error':ContactR.tel.$invalid && !ContactR.tel.$pristine}">
                                    <label>Teléfono <span>*</span></label>
                                    <input type="text" class="form-control" ng-minlength="10" ng-maxlength="15" name="tel" id="tel" required ng-model="registerData.tel">
                                    <p ng-show="ContactR.tel.$invalid && !ContactR.tel.$pristine" class="help-block">Se require un numero de teléfono valido</p>
                                    <p class="help-block" ng-show="((ContactR.tel.$error.minlength || ContactR.tel.$error.maxlength) && ContactR.tel.$dirty) ">El numero de telefono no tiene los 10 digitos</p>
                                </div>
                                <div class="row m0">
                                    <label>Institución Educativa <span>*Solo para estudiantes</span></label>
                                    <input type="text" class="form-control" name="institution" id="institution" ng-model="registerData.institution" value="null">
                                </div>
                                <div class="row m0" style="padding: 5% 0px;" ng-class="{'has-error':!registerData.mx && !registerData.et}">
                                    <label>Nacionalidad </label>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-6 p0">
                                        <input ng-click="registerData.et=false" ng-required="!registerData.mx && !registerData.et" ng-model="registerData.mx" type="checkbox" name="mx" value="Mexicana">&nbsp;Mexicana
                                    </div>
                                    <div class="col-sm-6 p0">
                                        <input ng-click="registerData.mx=false" ng-required="!registerData.mx && !registerData.et" ng-model="registerData.et" type="checkbox"  name="et" value="Extranjero">&nbsp;Extranjero
                                    </div>
                                    <p class="help-block" ng-show="!registerData.mx && !registerData.et">La nacionalidad es requerida</p>
                                </div>
                                <div ng-show="registerData.mx" class="row m0" ng-class="{'has-error':ContactR.business_name.$invalid && !ContactR.business_name.$pristine}">
                                    <label>Razón Social <span>*</span></label>
                                    <input type="text" ng-required="registerData.mx" class="form-control" name="business_name" id="business_name" ng-model="registerData.business_name">
                                    <p class="help-block" ng-show="ContactR.business_name.$invalid && !ContactR.business_name.$pristine">La razón social es un campo requerido</p>
                                </div>
                                <div ng-show="registerData.mx" class="row m0" ng-class="{'has-error':ContactR.fiscal_direction.$invalid && !ContactR.fiscal_direction.$pristine}">
                                    <label>Dirección Fiscal <span>*</span></label>
                                    <input type="text" ng-required="registerData.mx" class="form-control" name="fiscal_direction" id="fiscal_direction" ng-model="registerData.fiscal_direction" >
                                    <p class="help-block" ng-show="ContactR.fiscal_direction.$invalid && !ContactR.fiscal_direction.$pristine">Tu Dirección Fiscal es requerida</p>
                                </div>
                                <div ng-show="registerData.mx" class="row m0" ng-class="{'has-error':ContactR.postal_code.$invalid && !ContactR.postal_code.$pristine}">
                                    <label>Código Postal <span>*</span></label>
                                    <input type="text" ng-required="registerData.mx" class="form-control" name="postal_code" id="postal_code" ng-model="registerData.postal_code" >
                                    <p class="help-block" ng-show="ContactR.postal_code.$invalid && !ContactR.postal_code.$pristine">Tu Código Postal es requerido</p>
                                </div>
                                <div ng-show="registerData.mx" class="row m0" ng-class="{'has-error':ContactR.email_fiscal.$invalid && !ContactR.email_fiscal.$pristine}">
                                    <label>Email Facturación<span>*</span></label>
                                    <input type="email" ng-required="registerData.mx" class="form-control" name="email_fiscal" id="email_fiscal"  ng-model="registerData.email_fiscal">
                                    <p class="help-block" ng-show="ContactR.email_fiscal.$invalid && !ContactR.email_fiscal.$pristine">Tu correo electrónico de facturación es requerido</p>
                                </div>
                                <div class="row m0 fade">
                                    <label>Curso </label>
                                    <input type="text" readonly value="{{course.apid}}" class="form-control" name="course" id="course" ng-model="registerData.course">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row m0" ng-class="{'has-error':ContactR.last_name.$invalid && !ContactR.last_name.$pristine}">
                                    <label>Apellido Paterno <span>*</span></label>
                                    <input type="text" class="form-control" name="last_name" id="last_name" required ng-model="registerData.last_name">
                                    <p class="help-block" ng-show="ContactR.last_name.$invalid && !ContactR.last_name.$pristine">Tu apellido paterno es requerido</p>
                                </div>
                                <div class="row m0" ng-class="{'has-error':ContactR.email.$invalid && !ContactR.email.$pristine}">
                                    <label>Email <span>*</span></label>
                                    <input type="email" class="form-control" name="email" id="email" required ng-model="registerData.email" ng-remote-validate="/course/validate-email" ng-remote-method="GET">
                                    <p class="help-block" ng-show="ContactR.email.$invalid && !ContactR.email.$pristine">Tu correo electrónico es requerido</p>
                                    <span class="help-block subscription-message" ng-show="ContactR.email.$error.ngRemoteValidate">Esta cuenta de correo electrónica ya se encuentra suscrita, intente con otra por favor.</span>
                                </div>
                                <div class="row m0" ng-class="{'has-error':ContactR.profession.$invalid && !ContactR.profession.$pristine}">
                                    <label>Profesión <span>*</span></label>
                                    <input type="text" class="form-control" name="profession" id="profession" ng-model="registerData.profession" required>
                                    <p class="help-block" ng-show="ContactR.profession.$invalid && !ContactR.profession.$pristine">Tu profesión es requerida</p>
                                </div>
                                <div class="row m0">
                                    <label>Empresa </label>
                                    <input type="text" class="form-control" name="company" id="company" ng-model="registerData.company" value="null">
                                </div>
                                <div ng-show="registerData.mx" class="row m0" ng-class="{'has-error':ContactR.rfc.$invalid && !ContactR.rfc.$pristine}">
                                    <label>RFC <span>*</span></label>
                                    <input type="text" class="form-control" name="rfc" id="rfc" ng-required="registerData.mx"  ng-model="registerData.rfc" ng-maxlength="15" ng-minlength="10" ng-remote-validate="/course/validate-rfc" ng-remote-method="GET">
                                    <p class="help-block" ng-show="ContactR.rfc.$invalid && !ContactR.rfc.$pristine">Tu RFC es requerido</p>
                                    <p class="help-block" ng-show="((ContactR.rfc.$error.minlength || ContactR.rfc.$error.maxlength) && ContactR.rfc.$dirty) ">El RFC no debe de ser menor de 10 caracteres ni mayor a 15.</p>
                                    <span class="help-block subscription-message" ng-show="ContactR.rfc.$error.ngRemoteValidate">Este RFC ya se encuentra registrado.<br> Contactenos :  (+52) 993 316 02 87 y 993 316 19 59.</span>
                                </div>
                                <div ng-show="registerData.mx" class="row m0">
                                    <label>Delegación / Municipio </label>
                                    <input type="text" class="form-control" name="town" id="town" ng-model="registerData.town" value="null">
                                </div>
                                <div ng-show="registerData.mx" class="row m0" ng-class="{'has-error':ContactR.city.$invalid && !ContactR.city.$pristine}">
                                    <label>Estado / Ciudad <span>*</span></label>
                                    <input type="text" class="form-control" name="state" id="state" ng-required="registerData.mx"  ng-model="registerData.state">
                                    <p class="help-block" ng-show="ContactR.state.$invalid && !ContactR.state.$pristine">Estado / Ciudad es un campo requerido</p>
                                </div>
                                <div ng-show="registerData.mx" class="row m0">
                                    <label>Colonia </label>
                                    <input type="text" class="form-control" name="colony" id="colony" ng-model="registerData.colony" value="null">
                                </div>
                                <div class="row m0" ng-class="{'has-error':ContactR.payment.$invalid && !ContactR.payment.$pristine}">
                                    <label>Modalidad de Pago <span>*</span></label>
                                    <select name="payment" id="payment" class="selectpicker form-control" required ng-model="registerData.payment">
                                        <option value="1">Preinscripción (10%)</option>
                                        <option value="2">Total</option>
                                    </select>
                                    <p class="help-block" ng-show="ContactR.payment.$invalid && !ContactR.payment.$pristine">Tu tipo de modalidad de pago es necesaria</p>
                                </div>
                            </div>
                            <div class="col-sm-8 col-sm-offset-2" collapse="send">
                                <alert type="info" class="text-center">
                                    <h3 style="margin: 0px"><i class="fa fa-spinner fa-pulse"></i><span style="font-size: 14px;"> Registrando, espere un momento.</span></h3>
                                </alert>
                            </div>
                            <div class="col-sm-8 col-sm-offset-2" collapse="success">
                                <alert type="success" class="text-center">Su registro se ha realizado correctamente.
                                    <br> Pronto nos comunicaremos con usted. Gracias</alert>
                            </div>
                            <div class="col-sm-8 col-sm-offset-2" collapse="error">
                                <alert type="danger" class="text-center">Ha ocurrido un error intente nuevamente o mas tarde.</alert>
                            </div>
                            <div class="col-sm-12 text-center">
                                <input id="submitInput" class="btn btn-success" type="submit" value="Registrarse" ng-disabled="ContactR.$invalid" ng-click="resetForm(ContactR)" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!--Contact Form-->
    </div>
</section >

<section class="row page_case_study" >
    <div class="row google_map m0">
        <div id="mapBox">
            <map zoom="{{map.zoom}}" center="{{course.coordinates}}" style=" height: 470px" styles="{{map.style}}" zoom-control="true" draggable="true" options="{{map.options}}" scale-control="false">
                <marker position="{{course.coordinates}}"></marker>
            </map>
        </div>
    </div>
</section>