<section class="row pageCover" style="background: url('/front/src/images/banners/productividaddepozos.jpg')">
    <div class="container p0">
        <h3 class="fleft">Programa anual</h3>
        <ol class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li class="active">Programa anual</li>
        </ol>
    </div>

</section>
<section class="row contentRow">
    <div class="container-fluid">
        <div class="row">
            <div class="media discover_services">
                <div class="row m0 title_row">
                    <H2>NUESTROS CURSOS {{year}}</H2>
                    <h5>Estos son los cursos donde te podemos capacitar</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="media discover_services">
                    <div class="media-body services_secs col-sm-12 col-md-12">
                        <div class="col-sm-4 service_box" ng-repeat="course in courses">
                            <div class="row service_box_inner">
                                <div class="row preview_box">
                                    <img src="/front/src/images/courses/{{course.image}}" alt="">
                                    <h6>{{course.name}} <br><br>{{course.date_course}} <br><br> {{course.city}}</h6>
                                </div>
                                <div class="row hover_box">
                                    <div class="row m0 inner">
                                        <h6>{{course.name}}</h6>
                                        <div class="about"> {{course.description}}</div>
                                        <a href="{{course.permalink}}" class="read_more">Leer Más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>