<input type="" class="hidden" id="name" value="<?php echo $name ?>">
<input type="" class="hidden" id="clid" value="<?php echo $clid ?>">
<input type="" class="hidden" id="file" value="<?php echo $file ?>">
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color: #337ab7;">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="chat">
                        <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Instituto de Derecho Electoral Iberoamerica</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                </div>
                                <p>
                                    Bienvenido al Instituto de Derecho Electoral Iberoamerica.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div id="userlist"></div>
                <div class="panel-footer">
                    <div class="input-group">
                        <form id="send-message-area" action="">
                            <textarea id="sendie" maxlength='100'></textarea>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


    <div id="page-wrap"> 
        <div id="header">
            <h1><a href="/examples/Chat2/">Chat v222</a></h1>
            <div id="you"><span>Nombre de usuario:</span> <?php echo $clid?></div>
        </div>
        <div id="section">
            <h2><?php echo $name; ?></h2>   
            <div id="chat-wrap">
                <div id="chat-area"></div>
            </div>
            <div id="userlist"></div>
                <form id="send-message-area" action="">
                    <textarea id="sendie" maxlength='100'></textarea>
                </form>
        </div>
    </div>