
<?php $url = $this->url->get('dashboard/products/printp?status=INACTIVE')?>
<div class="page-title text-right">
    <a href="{{url('dashboard/products/new')}}" class="btn btn-success btn-condensed" id="newElement"><i class="fa fa-plus"></i>&nbsp;Materia</a>
    <button class="btn btn-primary" onclick="printPage('<?=$url?>')"><i class="fa fa-print"></i>Imprimir</button>
    <a class="btn btn-info" href="<?=$this->url->get('dashboard/products/export?status=INACTIVE');?>"><i class="fa fa-file-excel-o"></i>Exportar</a>
</div>
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Lista de materias inactivas</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="tableProducts" class="table table-bordered table-striped table-actions generalDT" data-order="0" data-filter="desc">
                            <thead>
                            <tr>
                                <th>Número</th>
                                <th>Posgrado</th>
                                <th>Catedra</th>
                                <th>Credito</th>
                                <?php if($auth['rol']=="SUPERADMIN"):?>
                                <th>Opciones</th>
                                <?php endif;?>
                            </tr>
                            </thead>
                            <tbody>
                            {% for values in products %}
                            <tr class="{{values.getPid()}}">
                                <td>{{values.getTicket()}}</td>
                                <td>{{values.getNameBrand()}}</td>
                                <td class="name">{{values.getName()}}</td>
                                <td><?=$values->getSalePrice();?></td>
                                <?php if($auth['rol']=="SUPERADMIN"):?>
                                <td class="options" data-id="{{values.getPid()}}">
                                    <!--span class="inventoryElement cursor_pointer" data-toggle="tooltip" data-placement="top" title="" data-original-title="Administrar Inventario de este producto"><i class="fa fa-cubes fa-2x"></i></span-->&nbsp;
                                    <a href="{{url('dashboard/products/edit/'~values.getPid())}}" class="editElement" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar Materia"><i class="fa fa-pencil-square-o fa-2x"></i></a>&nbsp;
                                    <span class="deleteElement cursor_pointer" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar Materia"><i class="fa fa-remove fa-2x"></i></span>&nbsp;
                                </td>
                                <?php endif;?>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-share"></span> Activar <strong>Materia</strong> ?</div>
            <div class="mb-content">
                <p>¿Estas seguro de activar esta fila?</p>
                <p>Presione "Si" si esta seguro.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function closePrint () {
        document.body.removeChild(this.__container__);
    }

    function setPrint () {
        this.contentWindow.__container__ = this;
        this.contentWindow.onbeforeunload = closePrint;
        this.contentWindow.onafterprint = closePrint;
        this.contentWindow.focus(); // Required for IE
        this.contentWindow.print();
    }

    function printPage (sURL) {
        var oHiddFrame = document.createElement("iframe");
        oHiddFrame.onload = setPrint;
        oHiddFrame.style.visibility = "hidden";
        oHiddFrame.style.position = "fixed";
        oHiddFrame.style.right = "0";
        oHiddFrame.style.bottom = "0";
        oHiddFrame.src = sURL;
        document.body.appendChild(oHiddFrame);
    }
</script>