<!DOCTYPE html>
<html lang="es-Mx" ng-app="front">
<head>
<?php $header = $this->session->get("header");  $meta= $this->session->get("meta");?>
    <base href="/"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><?= $meta['title']?></title>
    <link rel="icon" type="image/png" sizes="32x32" href="/front/src/images/icon.png">
    <!--Meta Google-->
    <meta name="description" content="<?= $meta['description']?>" />
    <meta name="keywords" content="capacitaciones,petroleo,cursos,diploamados,mexico,tabasco,villahermosa,america laina" />
    <meta name="author" content="www.c-developers.com">
    <meta name="robots" content="follow, index">
    <meta name="googlebot" content="follow, index">
    <meta name="google" content="notranslate" />
    <meta name="copyright" content="2015 www.c-develpers.com Todos los derechos reservados.">
    <meta name="application-name" content="Administración de cursos, procesos y pagos con paypal" />
    <meta name="revisit-after" content="10 day" />
    <link rel="canonical" href="<?= $meta['url']?>" />

    <!--Meta Facebook -->
    <meta property="og:title" content="<?= $meta['title']?>"/>
    <meta property="og:type" content="website" />
    <?php
        $json = dirname(dirname(dirname(dirname(__DIR__))))."/public/json/slider.json";
        $sliders = json_decode(file_get_contents($json),true);
        foreach($sliders["sliders"] as $values):
    ?>
        <meta property="og:image" content="<?=$this->url->get('front/src/images/slider/'.$values['image'])?>">
    <?php endforeach?>
    <meta property="og:url" content="<?= $meta['url']?>"/>
    <meta property="og:description" content="<?= $meta['description']?>"/>
    <meta property="og:site_name" content="<?= $meta['url']?>"/>
    <!--Twitter-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="<?= $meta['title']?>" />
    <meta name="twitter:description" content="<?= $meta['description']?>" />
    <?php foreach($sliders["sliders"] as $values):?>
        <meta name="twitter:image" content="<?=$this->url->get('front/src/images/slider/'.$values['image'])?>" />
    <?php endforeach;?>
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />

    <!--Fonts-->
    <!--link rel="stylesheet" id="Google-Font-css" href="http://fonts.googleapis.com/css?family=Droid+Sans%3An%2Ci%2Cb%2Cbi%7CDroid+Serif%3An%2Ci%2Cb%2Cbi%7CExo%3An%2Ci%2Cb%2Cbi%7C&amp;ver=4.1.7" type="text/css" media="all"-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <?= $this->assets->outputCss("IndexCss")?>
    <!--[if lt IE 9]>
        <script src="<?=$this->url->get('front/src/js/html5shiv-printshiv.js')?>"></script>
        <script src="<?=$this->url->get('front/src/js/respond.min.js')?>"></script>
    <![endif]-->
    <!--script>setTimeout(function asyncBootstrap() {angular.bootstrap( document, [ "front" ] );}, ( 2 * 10000));</script-->
</head>
<body class="default home" ng-controller="ServicesController">
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-53505515-19', { 'cookieDomain': 'none' });
</script>
<div class="m-app-loading" ng-animate-children>
    <style type="text/css">

        div.m-app-loading {
            position: fixed !important;
            width: 100%;
            height: 100%;
            z-index: 999999;
        }

        div.m-app-loading div.animated-container {
            background-color: #fff ;
            bottom: 0px ;
            left: 0px ;
            opacity: 1.0 ;
            position: fixed ;
            right: 0px ;
            top: 0px ;
            z-index: 999999 ;
        }
        div.m-app-loading div.animated-container.ng-leave {
            opacity: 1.0 ;
            transition: all linear 200ms ;
            -webkit-transition: all linear 200ms ;
        }

        div.m-app-loading div.animated-container.ng-leave-active {
            opacity: 0 ;
        }

        div.m-app-loading div.messaging {
            color: #FFFFFF ;
            font-family: monospace ;
            left: 0px ;
            margin-top: -37px ;
            position: absolute ;
            right: 0px ;
            text-align: center ;
            top: 40% ;
        }

        div.m-app-loading h1 {
            font-size: 26px ;
            line-height: 35px ;
            margin: 0px 0px 20px 0px ;
            color: #000000;
        }

        div.m-app-loading p {
            font-size: 18px ;
            line-height: 14px ;
            margin: 0px 0px 0px 0px ;
        }

    </style>
    <div class="animated-container">
        <div class="messaging">
            <h1>
                Cargando página web SPECTRUM
                <br>
                <img src="/front/src/images/Preloader_3.gif" alt="">
            </h1>
        </div>
    </div>
    <!-- END: Actual animated container. -->
</div>

<header class="navbar navbar-default navbar-fixed-top navbar-inner">
    <div class="top_row row m0 header-social">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 hidden-xs"></div>
                <div class="col-md-6 col-sm-6 col-xs-12 p0">
                    <div class="col-md-9 col-sm-6 col-xs-7 p0">
                        <div class="language-spectrum">
                            <div><a class="active" href="/">Inicio &nbsp;</a><span>|</span></div>
                            <div><a href="#">Español &nbsp;</a><span>|</span></div>
                            <div><a href="#">English &nbsp;</a></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-5 p0">
                        <ul class="nav nav-social">
                            <li><a href="https://www.facebook.com/SpectrumSTM?ref=ts&fref=ts"><img src="/front/src/images/icons/top-bar/facebook.png" alt=""></a></li>
                            <li><a href="https://twitter.com/SpectrumSTM"><img src="/front/src/images/icons/top-bar/twitter.png" alt=""></a></li>
                            <li><a href="https://www.linkedin.com/company/1319788?trk=prof-0-ovw-curr_pos"><img src="/front/src/images/icons/top-bar/linkedin.png" alt=""></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-3 logo-spectrum hidden-xs">
            <a href="/" class="logo">
                <img src="/front/src/images/LogoSpectrum.png" alt="" class="img-responsive">
            </a>
        </div>
        <div class="col-sm-9 p0">
            <div class="navbar-header visible-xs">
                <button style="margin-top: 6%;" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsedH = !isCollapsedH">
                    <span class="sr-only">Navegador</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="logo">
                    <img src="/front/src/images/LogoSpectrumMobile.png" alt="" class="img-responsive">
                </a>
            </div>
            <nav class="hidden-xs header-spectrum">
                <ul class="nav navbar-nav navs-header">
                    <li class="" ng-class="{'active':$location.path()=='/'}">
                        <a href="/">INICIO</a>
                    </li>
                    <li ng-class="{'active':$location.path()=='/catalogo-de-cursos' || $location.path()=='/programa-anual/<?=date('Y')?>' || $location.path()=='/cursos/finalizados/<?=date('Y')?>'}" class="dropdown" dropdown>
                        <a role="button" class="dropdown-toggle" dropdown-toggle>
                            CURSOS <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu menu-spectrum">
                            <li ng-class="{'active':$location.path()=='/catalogo-de-cursos'}">
                                <a href="<?=$this->url->get('catalogo-de-cursos')?>">CATÁLOGO DE CURSOS</a>
                            </li>
                            <li ng-class="{'active':$location.path()=='/programa-anual/<?=date('Y')?>'}">
                                <a href="<?=$this->url->get('programa-anual/'.date('Y'))?>">PROGRAMA ANUAL</a>
                            </li>
                            <li ng-class="{'active':$location.path()=='/cursos/finalizados/<?=date('Y')?>'}"><a href="<?=$this->url->get('cursos/finalizados/'.date('Y'))?>">CURSOS FINALIZADOS</a></li>
                        </ul>
                    </li>
                    <li  ng-class="{'active':$location.path()=='/acerca-de-capacitaciones'}">
                        <a href="<?=$this->url->get('acerca-de-capacitaciones')?>">ACERCA DE CAPACITACIÓN</a>
                    </li>
                    <li ng-class="{'active':$location.path()=='/register-in-company' || $location.path()=='/contactanos'}" class="dropdown" dropdown>
                        <a role="button" class="dropdown-toggle" dropdown-toggle>
                            MODALIDAD DE CURSOS <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu menu-spectrum">
                            <li ng-class="{'active':$location.path()=='/register-in-company'}">
                                <a href="<?=$this->url->get('register-in-company')?>">In Company</a>
                            </li>
                            <li ng-class="{'active':$location.path()=='/contactanos'}">
                                <a href="<?=$this->url->get('contactanos')?>">Abierto</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <nav class="visible-xs" collapse="!isCollapsedH">
                <ul class="nav navbar-nav nav-mobile">
                    <li><a href="/" ng-click="isCollapsedH = !isCollapsedH">Inicio</a></li>
                    <li ng-class="{'active':$location.path()=='/catalogo-de-cursos' || $location.path()=='/programa-anual/<?=date('Y')?>' || $location.path()=='/cursos/finalizados/<?=date('Y')?>'}" class="dropdown" dropdown>
                        <a role="button" class="dropdown-toggle" dropdown-toggle>
                            CURSOS <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu ">
                            <li ng-class="{'active':$location.path()=='/catalogo-de-cursos'}">
                                <a ng-click="isCollapsedH = !isCollapsedH" href="<?=$this->url->get('catalogo-de-cursos')?>">CATÁLOGO DE CURSOS</a>
                            </li>
                            <li ng-class="{'active':$location.path()=='/programa-anual/<?=date('Y')?>'}">
                                <a ng-click="isCollapsedH = !isCollapsedH" href="<?=$this->url->get('programa-anual/'.date('Y'))?>">PROGRAMA ANUAL</a>
                            </li>
                            <li ng-click="isCollapsedH = !isCollapsedH" ng-class="{'active':$location.path()=='/cursos/finalizados/<?=date('Y')?>'}"><a href="<?=$this->url->get('cursos/finalizados/'.date('Y'))?>">CURSOS FINALIZADOS</a></li>
                        </ul>
                    </li>
                    <li  ng-class="{'active':$location.path()=='/acerca-de-capacitaciones'}">
                        <a ng-click="isCollapsedH = !isCollapsedH" href="<?=$this->url->get('acerca-de-capacitaciones')?>">ACERCA DE CAPACITACIÓN</a>
                    </li>
                    <li ng-class="{'active':$location.path()=='/register-in-company' || $location.path()=='/contactanos'}" class="dropdown" dropdown>
                        <a role="button" class="dropdown-toggle" dropdown-toggle>
                            MODALIDAD DE CURSOS <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-class="{'active':$location.path()=='/register-in-company'}">
                                <a ng-click="isCollapsedH = !isCollapsedH" href="<?=$this->url->get('register-in-company')?>">In Company</a>
                            </li>
                            <li ng-class="{'active':$location.path()=='/contactanos'}">
                                <a ng-click="isCollapsedH = !isCollapsedH" href="<?=$this->url->get('contactanos')?>">Abierto</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="header-placeholder"></div>
    <div ng-view autoscroll="true">
    </div>
<footer class="row" style="margin-top: 35px">
        <div class="row m0">
            <div class="container">
                <div class="row footer_widgets">
                    <div class="col-sm-3 footer_widget">
                        <div class="row m0">
                            <h4 class="title">ÚNETE A SPECTRUM STM</h4>

                            <div class="divDesign">
                                <p class="font-normal"> Síguenos en <a href="#" style="font-weight: bold">LinkedIn</a> </br>
                                    o envíe su C.V:</p> </div>

                            <div class="clear">
                                <br>
                                <a href="mailto:brenda.ruiz@spectrumstm.com?subject=CV" name="subscribe" id="" class="buttonDesign"><span>Enviar CV</span></a>
                            </div>

                        </div>


                    </div> <!--Single widget-->
                    <div style="padding-right: 0px;padding-left: 4%;" class="col-sm-4 footer_widget">
                        <div class="row m0">
                            <h4 class="title">SUSCRÍBETE <span style="font-weight: normal">AL BOLETÍN</span></h4>
                            <div class="row m0 body">
                                <!-- Begin MailChimp Signup Form -->
                                <div id="mc_embed_signup" class="row m0">
                                    <p class="bold">Para recibir más información de nuestra empresa, suscribase a nuestro boletín</p>
                                    <form class="mailchimp_form" ng-submit="submitFormSubscription(subscriptionF.$valid)" name="subscriptionF" id="subscriptionF" method="post" novalidate>
                                        <div id="mc_embed_signup_scroll">
                                            <div style="margin-bottom: 5px;" class="input-group" ng-class="{'has-error':subscriptionF.name.$invalid && !subscriptionF.name.$pristine}">
                                                <span class="input-group-addon"><img src="/front/src/images/icons/footer/name.png" alt=""></span>
                                                <input type="text" name="name" class="required form-control m0" id="name" placeholder="Nombre" required ng-model="subscriptionData.name">
                                                <div class="clearfix"></div>
                                                <p ng-show="subscriptionF.name.$invalid && !subscriptionF.name.$pristine" class="help-block subscription-message">Su nombre es requerido</p>
                                            </div>
                                            <div class="input-group" ng-class="{'has-error':subscriptionF.email.$invalid && !subscriptionF.email.$pristine}">
                                                <span class="input-group-addon"><img src="/front/src/images/icons/footer/email.png" alt=""></span>
                                                <input type="email" name="email" class="required email form-control m0" id="email" placeholder="Correo" required ng-model="subscriptionData.email" ng-remote-method="GET" ng-remote-validate="/contact/validate-email">
                                                <div class="clearfix"></div>
                                                <p ng-show="subscriptionF.email.$invalid && !subscriptionF.email.$pristine" class="help-block subscription-message">Correo electrónico necesario</p>
                                                 <span class="help-block subscription-message" ng-show="subscriptionF.email.$error.ngRemoteValidate">Esta cuenta de correo electrónica ya se encuentra suscrita, intente con otra por favor.</span>
                                            </div>
                                            <div class="clear">
                                                <div class="col-sm-12" collapse="sendSubscription">
                                                    <alert type="info" class="text-center">
                                                        <h3 style="margin: 0px"><i class="fa fa-spinner fa-pulse"></i><span style="font-size: 14px;"> Suscribiendo, espere un momento.</span></h3>
                                                    </alert>
                                                </div>
                                                <div class="col-sm-12" collapse="successSubscription">
                                                    <alert type="success" class="text-center">Gracias por suscribirse a nuestro boletín, próximamente le llegaran nuestras promociones.</alert>
                                                </div>
                                                <div class="col-sm-12" collapse="errorSubscription">
                                                    <alert type="danger" class="text-center">Ha ocurrido un error intente nuevamente o mas tarde.</alert>
                                                </div>
                                                <button style="height: 58px; margin-top: 10px;" ng-disabled="subscriptionF.$invalid" type="submit" name="subscribe" id="submitInput" class="btn btn-default"><span>Suscribirse</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--End mc_embed_signup-->
                            </div>
                        </div>
                    </div> <!--Single widget-->
                    <div class="col-sm-4 col-sm-offset-1 footer_widget">
                        <div class="row m0">
                            <h4 class="title">Secciones</h4>
                            <div class="row m0 body">
                                <ul class="list-unstyled links">
                                    <li class="prueba" ng-class="{'active':$location.path()=='/contactanos'}"><p><a href="<?=$this->url->get('contactanos')?>">Contáctanos</a></p></li>
                                    <li class="prueba" ng-class="{'active':$location.path()=='/register-in-company'}"><p><a href="<?=$this->url->get('register-in-company')?>">In Company</a></p></li>
                                    <li class="prueba" ng-class="{'active':$location.path()=='/programa-anual/<?=date('Y')?>'}"><p><a href="<?=$this->url->get('programa-anual/'.date('Y'))?>">Cursos</a></p></li>
                                    <li class="prueba" ng-class="{'active':$location.path()=='/acerca-de-capacitaciones'}"><p><a href="<?=$this->url->get('acerca-de-capacitaciones')?>">Acerca de nosotros</a></p></li>
                                    <li class="prueba" ng-class="{'active':$location.path()=='/cursos/finalizados/<?=date('Y')?>'}"><p><a href="<?=$this->url->get('cursos/finalizados/'.date('Y'))?>">Cursos Finalizados</a></p></li>
                                    <li class="prueba" ng-class="{'active':$location.path()=='/catalogo-de-cursos'}"><p><a href="<?=$this->url->get('catalogo-de-cursos')?>">Catálogo de cursos</a></p></li>
                                </ul>
                            </div>
                        </div>
                    </div> <!--Single widget-->
                </div>
            </div>
        </div>
    <hr class="linef">
    <div class="container">
        <div class="row copyright m0">
            <span>SPECTRUM SERVICIOS TÉCNICOS MÉXICO S.A. de C.V. | © 2015 Todos los derechos reservados | <a href="http://spectrumstm.com/nuevo/wp-content/uploads/2014/01/SPECTRUM-STM-AVISO%C2%A0DE%C2%A0PRIVACIDAD.pdf" target="_blank">Aviso de privacidad</a> |  <a href="#">Términos y condiciones del uso del sitio</a></span>
        </div>
    </div>
    </footer>
    <?= $this->assets->outputJs("Angular")?>
    <?= $this->assets->outputJs("IndexJs")?>
    <script src="https://code.angularjs.org/1.0.8/i18n/angular-locale_es-mx.js"></script>
    <script src="//maps.google.com/maps/api/js"></script>

</body>
</html>