<div class="page-content-wrap">
    <div class=" container sinpadding">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 fondo-gris-general">
				<div style="width:100%; height:1000px;">
					<embed height="100%" width="100%" name="embed_content" src="/documents/plan/<?php echo $file; ?>" type="application/pdf" />
				</div>
			</div>
		</div>
	</div>
</div>