<section class="row pageCover" style="background: url('/front/src/images/banners/seguridadysaludocupacional.jpg')">
    <div class="container p0">
        <h3 class="fleft">Cursos Finalizados</h3>
        <ol class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li class="active">Cursos Finalizados</li>
        </ol>
    </div>
</section>
<section class="row latest_blogs contentRow">
    <div class="container">
        <div class="row title_row">
            <h2>Cursos Impartidos {{yearC}}</h2>
            <h5>Estos son los cursos impartidos en el año {{yearC}}</h5>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div ng-repeat="(key,RFcourse) in resultfc">
                    <div class="col-sm-4 blog latest_blog">
                        <div class="row m0">
                            <div class="row m0 image">
                                <a ng-href="/curso/finalizado/{{RFcourse.year}}/{{RFcourse.permalink}}"><img ng-src="/front/src/images/blog/{{RFcourse.image}}" alt="{{RFcourse.name}}"></a>
                            </div>
                            <div class="media">
                                <div class="media-left post_cat">
                                    <a ng-href="/curso/finalizado/{{RFcourse.year}}/{{RFcourse.permalink}}"><img ng-src="/front/src/images/icons/blog/{{RFcourse.imageC}}" alt="{{RFcourse.name}}"></a>
                                </div>
                                <div class="media-body">
                                    <div class="row m0 post_meta">
                                        <div class="row m0 date"><a ng-href="/curso/finalizado/{{RFcourse.year}}/{{RFcourse.permalink}}">{{RFcourse.date}}</a></div>
                                        <div class="row m0 author"><a ng-href="/curso/finalizado/{{RFcourse.year}}/{{RFcourse.permalink}}">{{RFcourse.city}}</a></div>
                                    </div>
                                    <a ng-href="/curso/finalizado/{{RFcourse.year}}/{{RFcourse.permalink}}" class="post_title">
                                        <h5>{{RFcourse.name}}</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix" ng-show="fix(key)==1"></div>
                </div>
            </div>
        </div>
    </div>
</section>