<section class="row">
    <div class="row m0 contentRow offer_service home_page " style="padding: 40px 0px">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>{{info.name}}</h3>
                    <p>{{info.city}} &nbsp;{{info.date}}</p>
                </div>
                <div class="col-sm-6">
                    <div ng-bind-html="info.content"></div>
                </div>
                <div class="col-sm-6">
                    <div class="owl-carousel offer_service_carousel" carousel-s>
                        <div class="item" ng-repeat="value in image">
                            <a ng-click="openLightboxCourse($index)">
                                <img ng-src="{{value.thumbnail}}" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>